@model SFA.DAS.Campaign.Content.ContentTypes.InterestsPage

@{
    ViewBag.Title = "Find the right apprenticeship for you by searching the different sectors. ";
    Layout = "_Layout-campaign";
    ViewBag.PageID = "industries";
    ViewBag.PageUrl = "/industries";
    ViewBag.Section = "industry";
    ViewBag.MetaDesc = "Find the right apprenticeship for you by sector and choose from the employers who are offering apprenticeships in your chosen field. ";
    ViewBag.MetaTitle = "Look at the different industries that are offering apprenticeships";
}

<div class="hero-banner">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <h1 class="heading-xl hero-heading__heading">@Model.Title</h1>
            </div>
            <a href="https://www.gov.uk/" id="header-link-govuk" target="_blank" class="hero-heading__hm-government-link">
                <img alt="HM Government" class="hero-heading__hm-government-logo" src="/campaign/images/hm-government-logo.png" srcset="/campaign/images/hm-government-logo.png 1x, /campaign/images/hm-government-logo@2x.png 2x"/>
            </a>
        </div>
    </div>
    <span class="hero-banner__background hero-banner__background--industry"></span>
</div>


@foreach (var row in Model.GetGroupedList())
{
    <div class="grid-row-full-width card__collection card__collection--industry">
        @foreach (var interest in row)
        {
            <div class="grid-column-full-width-one-quarter">
                <a class="card" asp-controller="Interests" asp-action="Interest" asp-route-slug="@interest.Slug" tabindex="-1" role="presentation">
                    <div class="card__image">
                        <span class="card__img" style="background: url('https:@interest.Thumbnail.File.Url'); background-size: cover; background-position: center;"></span>
                    </div>
                    <div class="card__content">
                        <h2 class="card__headline heading-s">@interest.Title</h2>
                        <p class="card__summary">
                            @interest.Summary
                        </p>
                        <p class="card__link" role="link" tabindex="0" aria-label="Find out more about the @interest.Title">Find out more</p>
                    </div>
                </a>
            </div>
        }
    </div>
}