@model SFA.DAS.Campaign.Content.ContentTypes.Interest

@{
    ViewBag.Title = "Agriculture, environment and animal care";
    ViewBag.MetaTitle = "Discover apprenticeships in agriculture, animal care or the environment";
    ViewBag.MetaDesc = "Find apprenticeships in agriculture, environment and animal care: land management and production, animal health and welfare, and environmental industries. ";
    ViewBag.PageSlug = "agriculture-environment-animal-care";
    ViewBag.HeroImageAltText = "Farmworker with cows";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Agriculture-environmental-and-animal-care";
}

<rich-text-content class="content-section" document="@Model.Body"></rich-text-content>

<dl class="inline-list">
    <dt class="inline-list__title">@Model.Title includes:</dt>

    @foreach (var include in Model.Includes)
    {
        <dd>@include</dd>
    }
</dl>

@if (Model.RealStory != null)
{
    @section QuoteHero {
        <section class="section section--slant section--apprentice-pale real-stories-quotes">
            <div class="grid-row">
                <div class="grid-column-two-thirds">
                    <div class="quote-feature">
                        <h2 class="heading-xs quote-feature__caption">
                            <span class="quote-feature__caption-text">Real stories</span>
                            <span class="quote-feature__caption-icon"></span>
                        </h2>
                        <h3 class="heading-l">@Model.RealStory.Title</h3>

                        <rich-text-content class="content-section" document="@Model.RealStory.Story"></rich-text-content>
                        
                        <p>
                            <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                        </p>
                    </div>

                </div>
                <div class="grid-column-one-third">
                    <figure class="quote-box quote-box--apprentice">
                        <blockquote class="quote-box__quote">
                            @Model.RealStory.Quote
                        </blockquote>
                        <figcaption class="quote-box__cite">
                            <span class="quote-box__cite-person">@( Model.RealStory.Author + (string.IsNullOrWhiteSpace(Model.RealStory.AuthorAge) ? "" : ", " + Model.RealStory.AuthorAge))</span>
                            <span class="quote-box__cite-role">@Model.RealStory.AuthorRole</span>
                            <span class="quote-box__cite-source">
                                @Model.RealStory.Location
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
    }
}