@model SFA.DAS.Campaign.Web.ViewComponents.Sidebar.SidebarViewModel
@{
    var activeClass = "sidebar-nav__section--active";
}

<div class="trimmer">
    <div class="sidebar__header">
        <h2 class="heading-s sidebar__heading">What are the steps to become an apprentice</h2>
    </div>
</div>
<div class="sidebar__content">
    <ol class="sidebar-nav">
        <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprenticeship-whats-an-apprenticeship" ? activeClass : null ) ">
            <a asp-controller="Apprentice" asp-action="WhatIsAnApprenticeship" id="link-sidebar-apprentice-1">
                Before you start
            </a>
        </li>

        <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-find-an-apprenticeship" ? activeClass : null )">
            <a asp-controller="Apprentice" asp-action="FindAnApprenticeship" id="link-sidebar-faa">
                Find an apprenticeship
            </a>
        </li>

        <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-application" ? activeClass : null ) ">
            <a asp-controller="Apprentice" asp-action="Application" id="link-sidebar-apprentice-3">
                Application
            </a>
        </li>
        <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-interview" ? activeClass : null ) ">
            <a asp-controller="Apprentice" asp-action="Interview" id="link-sidebar-apprentice-4">
                Interview
            </a>
        </li>
        <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-your-apprenticeship" ? activeClass : null ) ">
            <a asp-controller="Apprentice" asp-action="YourApprenticeship" id="link-sidebar-apprentice-5">
                Your apprenticeship
            </a>
        </li>
        <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-assessment-and-certification" ? activeClass : null ) ">
            <a asp-controller="Apprentice" asp-action="AssessmentAndQualification" id="link-sidebar-apprentice-6">
                Assessment and certification
            </a>
        </li>
    </ol>
</div>


