@model SFA.DAS.Campaign.Web.ViewComponents.Sidebar.SidebarViewModel
@{
    var activeClass = "sidebar-nav__section--active";
}

<div class="sidebar @Model.Classes">

    <div class="sidebar__hero">
        <img src="@Model.ImgLocation" class="sidebar__hero-image" alt="" />
    </div>
    <div class="trimmer">
        <div class="sidebar__header">

            <h3 class="heading-s sidebar__heading">What are the steps to become an apprentice</h3>
        </div>
    </div>
    <div class="sidebar__content">
        <ol class="sidebar-nav">
            <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprenticeship-whats-an-apprenticeship" ? activeClass : null ) ">
                <a href="/apprentice/what-is-an-apprenticeship">
                    Before you start
                </a>
            </li>

            <li class="sidebar-nav__section">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" id="link-faa-sidebar"  rel="external" target="_blank">
                    Find an apprenticeship
                </a>
            </li>
        
            <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-application" ? activeClass : null ) ">
                <a href="/apprentice/application">
                    Application
                </a>
            </li>
            <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-interview" ? activeClass : null ) ">
                <a href="/apprentice/interview">
                    Interview
                </a>
            </li>
            <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-your-apprenticeship" ? activeClass : null ) ">
                <a href="/apprentice/your-apprenticeship">
                    Your apprenticeship
                </a>
            </li>
            <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-assessment-and-certification" ? activeClass : null ) ">
                <a href="/apprentice/assessment-and-certification">
                    Assessment and certification
                </a>
            </li>
        </ol>
    </div>
    <div class="trimmer">
        <div class="sidebar__sub-content">
            @*<h2 class="heading-s sidebar__heading">Find out more</h2>*@
            @*<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>*@
            <a class="button button--sparks button--shadow " href="#modal-RegisterInterest">Register Interest</a>
        </div>
    </div>
</div>

