@model int

@{
    ViewBag.SidebarTitle = "The steps for becoming an apprentice";
}
<ol class="sidebar-nav">
 <li class="sidebar-nav__section  @(Model == 1 ? "sidebar-nav__section--active" : "")">
        <a href="/apprentice/fire-up-your-apprenticeship">
            Fire up your apprenticeship
        </a>
    </li>
    <li class="sidebar-nav__section  @(Model == 2 ? "sidebar-nav__section--active" : "")">
        <a href="/apprentice/what-are-the-benefits-to-me">
            What are the benefits to me?
        </a>
    </li>
    <li class="sidebar-nav__section  @(Model == 3 ? "sidebar-nav__section--active" : "")">
        <a href="/apprentice/what-are-the-steps-I-need-to-take">
            What are the steps I need to take?
        </a>
    </li>
    <li class="sidebar-nav__section  @(Model == 4 ? "sidebar-nav__section--active" : "")">
        <a href="/apprentice/how-to-get-your-application-right">
            Nail the application and interview
        </a>
    </li>
    <li class="sidebar-nav__section  @(Model == 5 ? "sidebar-nav__section--active" : "")">
        <a href="/apprentice/monitor-your-progress">
            Monitor your progress
        </a>
    </li>
    <li class="sidebar-nav__section  @(Model == 6 ? "sidebar-nav__section--active" : "")">
        <a href="/apprentice/assessment-and-qualification">
            Assessment and qualification
        </a>
    </li>
</ol>