@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.Details.TrainingProviderDetailsViewModel
@inject ICssViewModel CssViewModel

    <h3 class="govuk-heading-m govuk-!-margin-top-4">Contact details</h3>

    <dl class="govuk-summary-list fiu-summary-list-contact">
        @if (!string.IsNullOrWhiteSpace(Model.ContactInformation.Website))
        {
            <div class="govuk-summary-list__row fiu-summary-list-contact__row">
                <dt class="govuk-summary-list__key fiu-summary-list-contact__key">Website</dt>
                <dd class="govuk-summary-list__value fiu-summary-list-contact__value">
                    <a href="@Model.ContactInformation.Website" class="fiu-link fiu-link--employers" target="_blank" rel="external">
                        @Model.Name website <span class="fiu-vh">(Opens in a new window)</span>
                    </a>
                </dd>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.ContactInformation.Phone))
        {
            <div class="govuk-summary-list__row fiu-summary-list-contact__row">
                <dt class="govuk-summary-list__key fiu-summary-list-contact__key">Phone number</dt>
                <dd class="govuk-summary-list__value fiu-summary-list-contact__value">@Model.ContactInformation.Phone</dd>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.ContactInformation.Email))
        {
            <div class="govuk-summary-list__row fiu-summary-list-contact__row">
                <dt class="govuk-summary-list__key fiu-summary-list-contact__key">Email</dt>
                <dd class="govuk-summary-list__value fiu-summary-list-contact__value">
                    <a href="mailto:@Model.ContactInformation.Email" class="fiu-link fiu-link--employers">@Model.ContactInformation.Email</a>
                </dd>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.ContactInformation.ContactUsUrl))
        {
            <div class="govuk-summary-list__row fiu-summary-list-contact__row">
                <dt class="govuk-summary-list__key fiu-summary-list-contact__key">Contact page</dt>
                <dd class="govuk-summary-list__value fiu-summary-list-contact__value">
                    <a href="@Model.ContactInformation.ContactUsUrl" class="fiu-link fiu-link--employers" target="_blank" rel="external">
                        Contact this provider <span class="fiu-vh">(Opens in a new window)</span>
                    </a>
                </dd>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.LocationAddressLine))
        {
            <div class="govuk-summary-list__row fiu-summary-list-contact__row">
                <dt class="govuk-summary-list__key fiu-summary-list-contact__key">Address</dt>
                <dd class="govuk-summary-list__value fiu-summary-list-contact__value">
                    @if (Model.DeliveryModes.Count == 1 && Model.DeliveryModes.Contains("100PercentEmployer"))
                    {
                        @:Training takes place at your location
                    }
                    else
                    {
                        @Model.LocationAddressLine
                    }
                </dd>
            </div>
        }
    </dl>
