@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.Extensions
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.Details.TrainingProviderDetailsViewModel
@inject ICssViewModel CssViewModel

<article class="fiu-article" style="border: 1px dashed lime;">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">About the apprenticeship</h2>

    @Html.MarkdownToHtml(Model.AboutApprenticeshipInfo)

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Provider information</h2>

    @Html.MarkdownToHtml(Model.MarketingInfo)

    @if (Model.NationalProvider == true)
    {
        <p><span class="fiu-provider-national fiu-font-weight-bold">National:</span> This training provider is willing to offer apprenticeship training across England.</p>
    }
</article>

@if (Model.Feedback != null)
{
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-4">What employers are saying</h2>

        <p class="govuk-body-l">Based on <b class="fiu-font-weight-bold">@Model.Feedback.TotalFeedbackCount reviews from employers</b> that work with this training provider.</p>

        <p>
            <a href="https://sfadigital.blog.gov.uk/2018/09/26/new-feedback-feature-for-the-apprenticeship-service/" class="fiu-link fiu-link--employers" target="_blank" rel="external">Find out how these reviews work <span class="fiu-vh">(Opens in a new window)</span></a>
        </p>

        <h3 class="govuk-heading-m">Overall rating from October 2018 to now</h3>
<!-- ******************************************************************** style DL here ******************************************** -->
        <dl class="govuk-summary-list fiu-provider-details-bars">
            <dt class="das-provider-rating-reviews__definition-list--title">Excellent</dt>
            <dd class="das-provider-rating-reviews__definition-list--details">
                <progress class="das-provider__progress-bar das-provider__progress-bar--excellent" max="@Model.Feedback.TotalFeedbackCount" value="@Model.Feedback.ExcellentFeedbackCount"></progress>
                <span class="das-provider-rating-reviews__reviews-no">@Model.Feedback.ExcellentFeedbackCount reviews <span class="visually-hidden">out of @Model.Feedback.TotalFeedbackCount</span></span>
            </dd>
            <dt class="das-provider-rating-reviews__definition-list--title">Good</dt>
            <dd class="das-provider-rating-reviews__definition-list--details">
                <progress class="das-provider__progress-bar das-provider__progress-bar--good" max="@Model.Feedback.TotalFeedbackCount" value="@Model.Feedback.GoodFeedbackCount"></progress>
                <span class="das-provider-rating-reviews__reviews-no">@Model.Feedback.GoodFeedbackCount reviews <span class="visually-hidden">out of @Model.Feedback.TotalFeedbackCount</span></span>
            </dd>
            <dt class="das-provider-rating-reviews__definition-list--title">Poor</dt>
            <dd class="das-provider-rating-reviews__definition-list--details">
                <progress class="das-provider__progress-bar das-provider__progress-bar--poor" max="@Model.Feedback.TotalFeedbackCount" value="@Model.Feedback.PoorFeedbackCount"></progress>
                <span class="das-provider-rating-reviews__reviews-no">@Model.Feedback.PoorFeedbackCount reviews <span class="visually-hidden">out of @Model.Feedback.TotalFeedbackCount</span></span>
            </dd>
            <dt class="das-provider-rating-reviews__definition-list--title">Very poor</dt>
            <dd class="das-provider-rating-reviews__definition-list--details">
                <progress class="das-provider__progress-bar das-provider__progress-bar--very-poor" max="@Model.Feedback.TotalFeedbackCount" value="@Model.Feedback.VeryPoorFeedbackCount"></progress>
                <span class="das-provider-rating-reviews__reviews-no">@Model.Feedback.VeryPoorFeedbackCount review <span class="visually-hidden">out of @Model.Feedback.TotalFeedbackCount</span></span>
            </dd>
        </dl>

    </div>
</div>

<div class="govuk-grid-row fiu-flex-row">
    <div class="govuk-grid-column-one-half">
        <div class="fiu-panel fiu-panel--left-align">
            <h3 class="govuk-heading-m">
                Strengths
            </h3>
            <ul class="govuk-list govuk-list--bullet">
                @foreach (var strength in Model.Feedback.Strengths)
                {
                    <li>@strength.Name <b class="fiu-font-weight-bold">(@strength.Count)</b></li>
                }
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="fiu-panel fiu-panel--left-align">
            <h3 class="govuk-heading-m">
                Things to improve
            </h3>
            <ul class="govuk-list govuk-list--bullet">
                @foreach (var weakness in Model.Feedback.Weaknesses)
                {
                    <li>@weakness.Name <b class="fiu-font-weight-bold">(@weakness.Count)</b></li>
                }
            </ul>
        </div>
    </div>
</div>
}


<!--*********************************************** continue here ******************************* -->

<div class="das-provider-employers" style="border: 5px dotted purple;">



    <dl class="@CssViewModel.List das-provider__training-information-definition-list__results">

        <dt>Employer satisfaction:</dt>
        <dd>
            <div>@Model.EmployerSatisfactionMessage</div>
            @if (@Model.EmployerSatisfaction > 0)
            {
                <progress class="das-provider__progress-bar" max="100" value="@Model.EmployerSatisfaction"></progress>
            }
        </dd>

        <dt>Learner satisfaction:</dt>
        <dd>
            <div>@Model.LearnerSatisfactionMessage</div>
            @if (@Model.LearnerSatisfaction > 0)
            {
                <progress class="das-provider__progress-bar" max="100" value="@Model.LearnerSatisfaction"></progress>

            }
            <div class="satisfaction-source font-small">
                Source: <a class="@CssViewModel.Link" rel="external" href="https://www.gov.uk/government/collections/fe-choices" target="_blank">Skills Funding Agency FE Choices</a>
            </div>
        </dd>

        @if (!string.IsNullOrWhiteSpace(Model.LegalName))
        {
            <dt>Legal name:</dt>
            <dd>@Model.LegalName</dd>
        }

    </dl>
</div>

<div class="das-provider-disclaimer" style="border: 2px solid green;">

    <h2 class="@CssViewModel.HeadingXSmall">Content disclaimer</h2>

    <p>
        Education and Skills Funding Agency cannot guarantee the accuracy of
        course information on this site and makes no representations about
        the quality of any courses which appear on the site. Education and Skills
        Funding Agency is not liable for any losses suffered as a result of any party
        relying on the course information provided.
    </p>
</div>

@if (string.IsNullOrEmpty(Model.SearchQuery.PostCode) && !string.IsNullOrWhiteSpace(Model.Location.Address.Postcode))
{
    @await Component.InvokeAsync("ClosestLocations", new { Model.ApprenticeshipId, Model.Ukprn, Model.Location.LocationId, Model.Location.Address.Postcode })
}

@functions
{

    string GetTrainingOptionsStatusClass(string trainingOption, IList<string> options)
    {
        var cssClass = "das-search-results__training-options";
        var classSuffix = string.Empty;

        if (options.Contains(trainingOption, StringComparer.OrdinalIgnoreCase))
        {
            classSuffix = "--tick";
        }
        else
        {
            classSuffix = "--cross";
        }

        return $"{cssClass}{classSuffix}";
    }


}
