@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.Details.TrainingProviderDetailsViewModel
@inject ICssViewModel CssViewModel


<dl class="govuk-summary-list fiu-provider-details-summary">

    @if (Model.CurrentlyNotStartingNewApprentices == true)
    {
        <div class="@CssViewModel.WarningText">
            <span class="@(CssViewModel.WarningText)__icon" aria-hidden="true"></span>
            <strong class="@(CssViewModel.WarningText)__text">
                <span class="@(CssViewModel.WarningText)__assistive">Warning</span>
                This provider is not currently accepting new starters
            </strong>
        </div>
    }
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key fiu-provider-details-summary__key">Apprenticeship:</dt>
        <dd class="govuk-summary-list__value fiu-provider-details-summary__value">@Model.Apprenticeship.Title</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key fiu-provider-details-summary__key">Level:</dt>
        <dd class="govuk-summary-list__value fiu-provider-details-summary__value">@Model.Apprenticeship.Level (equivalent to @Model.Apprenticeship.EquivalentText)</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key fiu-provider-details-summary__key">Training options:</dt>
        <dd class="govuk-summary-list__value fiu-provider-details-summary__value">

            <ul class="govuk-list">
                <li class="@GetTrainingOptionsStatusClass("dayrelease",Model.DeliveryModes)">
                    <span class="fiu-vh">@GetTrainingOptionsStatusTxt("dayrelease",Model.DeliveryModes): </span>day release
                </li>
                <li class="@GetTrainingOptionsStatusClass("blockrelease",Model.DeliveryModes)">
                    <span class="fiu-vh">@GetTrainingOptionsStatusTxt("blockrelease",Model.DeliveryModes): </span>block release
                </li>
                <li class="@GetTrainingOptionsStatusClass("100percentemployer",Model.DeliveryModes)">
                    <span class="fiu-vh">@GetTrainingOptionsStatusTxt("100percentemployer",Model.DeliveryModes): </span>at your location
                </li>
            </ul>

            <details class="@CssViewModel.Details">
                <summary class="@CssViewModel.DetailsSummary">
                    <span class="@CssViewModel.DetailsSummaryText @CssViewModel.Link">Explain training options</span>
                </summary>
                <div class="@CssViewModel.DetailsText">
                    <p><span class="das-provider__copy--black">Day release:</span> for example one day a week at the training provider's location.</p>
                    <p><span class="das-provider__copy--black">Block release:</span> for example 3-4 weeks at the training provider's location.</p>
                    <p><span class="das-provider__copy--black">At your location:</span> the training provider comes to your workplace.</p>
                </div>
            </details>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key fiu-provider-details-summary__key">Achievement rates:</dt>
        <dd class="govuk-summary-list__value fiu-provider-details-summary__value">
            <div>Acheivement average: <span class="das-provider__copy--black">@Model.AchievementRate%</span></div>
            <progress class="das-provider__progress-bar" max="100" value="@Model.AchievementRate"></progress>

            <div>National average: <span class="das-provider__copy--black">@Model.NationalAchievementRate%</span></div>
            <progress class="das-provider__progress-bar" max="100" value="@Model.NationalAchievementRate"></progress>

            <details class="@CssViewModel.Details">
                <summary class="@CssViewModel.DetailsSummary">
                    <span class="@CssViewModel.DetailsSummaryText @CssViewModel.Link">Explain achievement rates</span>
                </summary>
                <div class="@CssViewModel.DetailsText">
                    <p>Percentage of apprentices who successfully achieved a similar apprenticeship with this training provider.</p>
                    <p>Based on the latest data for 50 apprentices.</p>
                    <p>Source: <a href="https://www.gov.uk/government/collections/sfa-national-success-rates-tables" target="_blank" rel="external">Skills Funding Agency apprenticeship achievement rates</a></p>
                </div>
            </details>
        </dd>
    </div>
</dl>


@functions
{

    string GetTrainingOptionsStatusClass(string trainingOption, IList<string> options)
    {
        var cssClass = "fiu-provider-details-summary__status";
        var classSuffix = string.Empty;

        if (options.Contains(trainingOption, StringComparer.OrdinalIgnoreCase))
        {
            classSuffix  = "-yes";
        }
        else
        {
            classSuffix  = "-no";
        }

        return $"{cssClass}{classSuffix}";
    }

    string GetTrainingOptionsStatusTxt(string trainingOption, IList<string> options)
    {
        var statusTxt = string.Empty;

        if (options.Contains(trainingOption, StringComparer.OrdinalIgnoreCase))
        {
            statusTxt = "Yes";
        }
        else
        {
            statusTxt = "No";
        }
        return $"{statusTxt}";
    }
}
