@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.Fat.SearchFilter.FatSearchFilterViewModel
@inject ICssViewModel CssViewModel


<form asp-controller="Fat" asp-action="Search" method="get">
    <h3 class="govuk-heading-m">Filter results</h3>
   <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">Apprenticeship level:</legend>
        <div class="govuk-checkboxes govuk-checkboxes--small fiu-checkboxes--inline">
            @foreach (var item in Model.LevelsAggregate.OrderBy(m => m.Value))
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" value="@item.Value" id="SelectedLevels_@(item.Value)" name="SelectedLevels" type="checkbox" @Html.Raw(item.Checked ? "checked" : "") @Html.Raw(item.Count == 0 ? "disabled" : "") />
                    <label for="SelectedLevels_@(item.Value)" class="govuk-label govuk-checkboxes__label @Html.Raw(item.Count == 0 ? "fiu-label--disabled" : "")">Level @item.Value (@item.Count)</label>
                </div>
            }
        </div>
    </div>
    </fieldset>
    <div class="@(CssViewModel.FormCss.FormGroup)">
    <input type="hidden" asp-for="Keywords" />
    <input type="hidden" asp-for="SortOrder" />
    <input type="hidden" asp-for="ResultsToTake" />

    <button type="submit" class="fiu-button fiu-button--employers" id="fat-filter-update-results">
        Update results
    </button>


</form>