@model SFA.DAS.Campaign.Application.Content.ContentTypes.InfoPage

@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = @Model.Title;
    ViewBag.MetaTitle = @Model.PageTitle;
    ViewBag.PageID = "apprentice-application";
    ViewBag.HeroImageAltText = "Apprentice in the digital industry";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = @Model.MetaDescription;
    ViewBag.PageUrl = @Model.Slug;
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 3;
}

<info-page-sections info-page="@Model"></info-page-sections>

<partial name="./components/Cta/_Contact-phoneNumber-apprentice" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a asp-controller="Apprentice" asp-action="FindAnApprenticeship" id="link-pagination-faa" class="pagination__link pagination__link--previous">
            Find an apprenticeship
        </a>
    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" asp-controller="Apprentice" asp-action="Interview" id="link-pagination-apprentice-4">Interview </a>
    </li>
</ul>

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel() { Type = HeroHeadingType.Apprentice })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" model="null" />
    </div>
}