@model SFA.DAS.Campaign.Content.ContentTypes.InfoPage

@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaTitle = Model.PageTitle;
    ViewBag.HeroImageUrl = @Model.HeroImage.File.Url;
    ViewBag.HeroImageAltText = Model.HeroImage.Description;
    ViewBag.PageID = Model.Slug;
    ViewBag.MetaDesc = Model.MetaDescription;
    ViewBag.PageUrl = Model.Slug;
    ViewBag.Section = Model.Hub;
    Layout = "_Layout-campaign-employer-inform";
}

<info-page-sections info-page="@Model" section-container-class="content-section"></info-page-sections>

<partial name="./components/Cta/_Contact-phoneNumber-apprentice" />

@if (Model.PreviousPage != null || Model.NextPage != null)
{
    <ul class="pagination pagination--apprentice">
        @if (Model.PreviousPage != null)
        {
            <li class="pagination__list-item">
                <a class="pagination__link pagination__link--previous" href="/@Model.PreviousPage.Hub.ToLower()/@Model.PreviousPage.Slug" id="link-pagination-apprentice-3">@Model.PreviousPage.Title</a>
            </li>
        }
        @if (Model.NextPage != null)
        {
            <li class="pagination__list-item pagination__list-item--next">
                <a class="pagination__link pagination__link--next" href="/@Model.NextPage.Hub.ToLower()/@Model.NextPage.Slug" id="link-pagination-apprentice-5">@Model.NextPage.Title</a>
            </li>
        }
    </ul>
}

@{
    IHtmlContent HeroHeadingContent() => Helper.Body(@<info-page-header-links info-page="@Model"></info-page-header-links>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel() { Type = HeroHeadingType.Apprentice, Content = HeroHeadingContent() })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" model="null" />
    </div>
}