@model SFA.DAS.Campaign.Application.Content.ContentTypes.InfoPage

@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading

@{
    ViewBag.Title = @Model.Title;
    ViewBag.PageID = "apprenticeship-whats-an-apprenticeship";
    ViewBag.HeroImageAltText = "Apprentice in the catering industry";
    ViewBag.Section = "apprentice";
    ViewBag.MetaTitle = @Model.PageTitle;
    ViewBag.MetaDesc = @Model.MetaDescription;
    ViewBag.PageUrl = @Model.Slug;
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 1;
}

<info-page-sections info-page="@Model"></info-page-sections>

<partial name="./components/Cta/_Contact-phoneNumber-apprentice" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item pagination__list-item--next">
        <a asp-controller="Apprentice" asp-action="FindAnApprenticeship" id="link-faa-pagination" class="pagination__link pagination__link--next">
            Find an apprenticeship
        </a>
    </li>
</ul>

@{
    IHtmlContent HeroHeadingContent() => Helper.Body(@<info-page-header-links info-page="@Model"></info-page-header-links>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Apprentice, Content = HeroHeadingContent() })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" model="null" />
    </div>
}