@model SFA.DAS.Campaign.Application.Content.ContentTypes.InfoPage

@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = @Model.Title;
    ViewBag.MetaTitle = @Model.PageTitle;
    ViewBag.PageID = "apprentice-your-apprenticeship";
    ViewBag.HeroImageAltText = "An apprentice in the legal industry";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = @Model.MetaDescription;
    ViewBag.PageUrl = @Model.Slug;
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 5;
}

<info-page-sections info-page="@Model"></info-page-sections>

<partial name="./components/Cta/_Contact-phoneNumber-apprentice" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--previous" asp-controller="Apprentice" asp-action="Interview" id="link-pagination-apprentice-4"> Interview</a>
    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" asp-controller="Apprentice" asp-action="AssessmentAndQualification" id="link-pagination-apprentice-6">Assessment and certification</a>
    </li>
</ul>

@{
    IHtmlContent HeroHeadingContent() => Helper.Body(@<info-page-header-links info-page="@Model"></info-page-header-links>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Apprentice, Content = HeroHeadingContent() })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" model="null" />
    </div>
}