@model SFA.DAS.Campaign.Web.Models.ApprenticeshipTrainingAndBenefitsViewModel

<div class="fiu-panel fiu-panel--left-align">
    <div class="fiu-confirmation fiu-confirmation--employers">
        <h2 class="govuk-panel__title">Your estimated funding</h2>
    </div>
    <ul class="fiu-stats-list fiu-stats-list--panels">
        <li class="fiu-stats-list__list-item">
            <span class="fiu-stats-list__panel">
                <span class="fiu-stats-list__stat">£@Model.CalculationResults.FundingOutput</span>
                Estimated government funding available
            </span>
        </li>
        <li class="fiu-stats-list__list-item">
            <span class="fiu-stats-list__panel">
                <span class="fiu-stats-list__stat">£@Model.CalculationResults.TrainingOutput</span>
                Training costs paid by you
            </span>
        </li>
    </ul>
    @{
        if (Model.Roles > 1)
        {
            <p class="govuk-body">
                From the information you have provided; your company could benefit from <b>£@Model.CalculationResults.FundingOutput</b> funding towards your apprentice's training costs. This funding would go to your training provider. This figure is based on  your company having a wage bill of under £3m, 50+ employees, hiring  @Model.NumberOfRoles apprentices for @Model.CalculationResults.Title (Level @Model.CalculationResults.Level) over @Model.CalculationResults.Duration months.
            </p>
        }
        else
        {
            <p class="govuk-body">
                From the information you have provided; your company could benefit from <b>£@Model.CalculationResults.FundingOutput</b> funding towards your apprentice's training costs. This funding would go to your training provider. This figure is based on  your company having a wage bill of under £3m, 50+ employees, hiring  @Model.NumberOfRoles apprentice for @Model.CalculationResults.Title (Level @Model.CalculationResults.Level) over @Model.CalculationResults.Duration months.
            </p>
        }
    }
    <p class="govuk-body">
        This means you only have to pay up to <b>£@Model.CalculationResults.TrainingOutput</b> of the total training costs. You'll pay the training provider directly and agree on a payment schedule that works for you both.
    </p>
    <p class="govuk-body">
        You and the main provider are eligible to receive a payment towards the additional cost associated with training if, at the start of the apprenticeship, the apprentice is:
        <br />
        <ul class="govuk-body">
            <li>
                Aged between 16 and 18 years old (or 15 years of age if the apprentice’s 16th birthday is between the last Friday of June and 31 August); or
            </li>
            <li>
                Aged between 19 and 24 years old and has either an Education, Health and Care (EHC) plan provided by their local authority or has been in the care of their local authority
            </li>
        </ul>
    </p>
    <p class="govuk-body">
        You do not need to pay Class 1 National insurance contributions for apprentices under 25, if the apprentice is on an approved apprenticeship standard.
    </p>
    <p class="govuk-body">
        Just so you know, you're also responsible for paying your aprentice for their normal working hours. You must pay them at least the National Minimum Wage rate depending on their age and the year of apprenticeship training they're in. For more information please visit <a href="https://www.gov.uk/employing-an-apprentice/pay-and-conditions-for-apprentices" class="govuk-link" target="_blank">employing an apprentice (opens in a new tab).</a>
    </p>
    <div class="fiu-hide-print">
        <div class="govuk-button-group">
            <a href="https://accounts.manage-apprenticeships.service.gov.uk/" class="fiu-button fiu-button--employers">
                Sign up to the apprenticeship service
            </a>
            @{
                var rnd = new Random();
                var num = rnd.Next(100, 999);
            }
            <a href="/employers/understanding-apprenticeship-benefits-and-funding?start=@num#funding" class="fiu-button fiu-button--employers fiu-button--outlined">
                Start again
            </a>
        </div>
        <div data-fiu-print-page-link="true" data-link-content="Print or save page"></div>

        @await Html.PartialAsync("_UseCases")

        <a href="/employers/real-stories-employers" class="fiu-button fiu-button--employers fiu-button--outlined govuk-!-margin-top-4 govuk-!-margin-bottom-0">See more stories from businesses like yours </a>
    </div>
</div>
