@model SFA.DAS.Campaign.Web.Models.ApprenticeshipFundingViewModel

<div class="fiu-panel fiu-panel--left-align">
    <h2 class="govuk-heading-l">Take your next step today, estimate what funding could be available to you</h2>
    <form method="post" asp-action="CalculateApprenticeshipFunding" asp-controller="Employer" asp-fragment="funding">  
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">What is your annual pay bill?</legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="pay-bill-under" name="PayBillGreaterThanThreeMillion" type="radio" value="@false" asp-for="@Model.PayBillGreaterThanThreeMillion">
                        <label class="govuk-label govuk-radios__label" for="pay-bill-under">
                            Under &pound;3 million
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="pay-bill-over" name="PayBillGreaterThanThreeMillion" type="radio" value="@true" asp-for="@Model.PayBillGreaterThanThreeMillion">
                        <label class="govuk-label govuk-radios__label" for="pay-bill-over">
                            Over &pound;3 million
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">How many employees do you have?</legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="employees-under" name="OverFiftyEmployees" type="radio" value="@false" asp-for="@Model.OverFiftyEmployees">
                        <label class="govuk-label govuk-radios__label" for="employees-under">
                            1 to 49 employees
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="employees-over" name="OverFiftyEmployees" type="radio" value="@true" asp-for="@Model.OverFiftyEmployees">
                        <label class="govuk-label govuk-radios__label" for="employees-over">
                            50 or more employees
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="courses">
                What training course do you want your apprentice to take?
            </label>
            <p class="govuk-body">We offer over @Model.Standards.Count() courses which you can search by keyword or job role,
                <a href="https://www.instituteforapprenticeships.org/apprenticeship-standards/" class="govuk-link" target="_blank">or you can explore the latest list with Institute for Apprenticeships and Technical Education</a>.</p>
                <select  class="govuk-select" asp-for="@Model.StandardUid" asp-items="@Model.StandardItems" data-fiu-autocomplete="true"><option label=" "></option></select>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="roles">
                How many roles do you have available for this apprenticeship?
            </label>
            <p class="govuk-body">
                Enter the number of available roles
            </p>
            <input class="govuk-input govuk-input--width-3" id="roles" name="NumberOfRoles" type="text" value=" " asp-for="@Model.NumberOfRoles">
        </div>
        <div class="govuk-button-group">
            <button class="fiu-button fiu-button--employers" type="submit">
                Calculate funding
            </button>
            <button class="fiu-button fiu-button--employers fiu-button--outlined" type="reset">
                Reset
            </button>
        </div>
    </form>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <figure class="fiu-quote fiu-quote--employer">
                <blockquote class="fiu-quote__blockquote">
                    "Have a plan of what it is that you would like for your student to learn while they are with you, speak to them about what their goals are. Be ready to offer extra time and support to make sure that you get the best out of them."
                </blockquote>
                <figcaption class="fiu-quote__caption">
                    Employer
                    <span class="fiu-quote__caption-description">Organisation</span>
                </figcaption>
            </figure>
        </div>
        <div class="govuk-grid-column-one-third">
            <img src="https://das-roi-tool-prototype.herokuapp.com/public/images/image1.jpg" class="fiu-panel__image" alt="" />
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <figure class="fiu-quote fiu-quote--employer">
                <blockquote class="fiu-quote__blockquote">
                    "Have a plan of what it is that you would like for your student to learn while they are with you, speak to them about what their goals are. Be ready to offer extra time and support to make sure that you get the best out of them."
                </blockquote>
                <figcaption class="fiu-quote__caption">
                    Employer
                    <span class="fiu-quote__caption-description">Organisation</span>
                </figcaption>
            </figure>
        </div>
        <div class="govuk-grid-column-one-third">
            <img src="https://das-roi-tool-prototype.herokuapp.com/public/images/image2.jpg" class="fiu-panel__image" alt="" />
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <figure class="fiu-quote fiu-quote--employer">
                <blockquote class="fiu-quote__blockquote">
                    "Have a plan of what it is that you would like for your student to learn while they are with you, speak to them about what their goals are. Be ready to offer extra time and support to make sure that you get the best out of them."
                </blockquote>
                <figcaption class="fiu-quote__caption">
                    Employer
                    <span class="fiu-quote__caption-description">Organisation</span>
                </figcaption>
            </figure>
        </div>
        <div class="govuk-grid-column-one-third">
            <img src="https://das-roi-tool-prototype.herokuapp.com/public/images/image5.jpg" class="fiu-panel__image" alt="" />
        </div>
    </div>
    <a href="/employers/real-stories-employers" class="fiu-button fiu-button--employers fiu-button--outlined govuk-!-margin-top-4 govuk-!-margin-bottom-0">See more stories from businesses like yours </a>
</div>