@model SFA.DAS.Campaign.Web.Models.FundingYourApprenticeshipTrainingViewModel

<div class="fiu-panel fiu-panel--left-align">
    <h2 class="govuk-heading-l">Take your next step today, estimate what funding could be available to you</h2>
    <form method="post" asp-action="FundingYourApprenticeshipTraining" asp-controller="Employer" asp-fragment="funding">
        <div class="govuk-form-group" validation-row-status property-name="PaybillGreaterThanThreeMillion" id="PayBillGreaterThanThreeMillion">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">What is your annual pay bill?</legend>
                <span asp-validation-for="@Model.PayBillGreaterThanThreeMillion" class="govuk-error-message"></span>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="pay-bill-under" name="PayBillGreaterThanThreeMillion" type="radio" value="@false" asp-for="@Model.PayBillGreaterThanThreeMillion">
                        <label class="govuk-label govuk-radios__label" for="pay-bill-under">
                            Under &pound;3 million
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="pay-bill-over" name="PayBillGreaterThanThreeMillion" type="radio" value="@true" asp-for="@Model.PayBillGreaterThanThreeMillion">
                        <label class="govuk-label govuk-radios__label" for="pay-bill-over">
                            Over &pound;3 million
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group" validation-row-status property-name="OverFiftyEmployees" id="OverFiftyEmployees">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">How many employees do you have?</legend>
                <span asp-validation-for="@Model.OverFiftyEmployees" class="govuk-error-message"></span>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="employees-under" name="OverFiftyEmployees" type="radio" value="@false" asp-for="@Model.OverFiftyEmployees">
                        <label class="govuk-label govuk-radios__label" for="employees-under">
                            1 to 49 employees
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="employees-over" name="OverFiftyEmployees" type="radio" value="@true" asp-for="@Model.OverFiftyEmployees">
                        <label class="govuk-label govuk-radios__label" for="employees-over">
                            50 or more employees
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group" validation-row-status property-name="StandardUId">
            <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="StandardUid">
                What training course do you want your apprentice to take?
            </label>
            <span asp-validation-for="@Model.StandardUid" class="govuk-error-message"></span>
            <p class="govuk-body">
                We offer over @Model.Standards.Count() courses which you can search by keyword or job role,
                <a href="https://www.instituteforapprenticeships.org/apprenticeship-standards/" class="govuk-link" target="_blank">or you can explore the latest list with Institute for Apprenticeships and Technical Education</a>.
            </p>
            <select class="govuk-select" asp-for="@Model.StandardUid" asp-items="@Model.StandardItems" data-fiu-autocomplete="true" id="StandardUid"><option label=" "></option></select>
        </div>
        <div class="govuk-form-group" validation-row-status property-name="NumberOfRoles">
            <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="NumberOfRoles">
                How many roles do you have available for this apprenticeship?
            </label>
            <span asp-validation-for="@Model.NumberOfRoles" class="govuk-error-message"></span>
            <p class="govuk-body">
                Enter the number of available roles
            </p>
            <input class="govuk-input govuk-input--width-3" name="NumberOfRoles" type="text" asp-for="@Model.NumberOfRoles" id="NumberOfRoles">
        </div>
        <div class="govuk-button-group">
            <button class="fiu-button fiu-button--employers" type="submit">
                Calculate funding
            </button>
            <a class="fiu-button fiu-button--employers fiu-button--outlined" href="/employers/funding-your-apprenticeship-training">
                Reset
            </a>
        </div>
    </form>
    <figure class="fiu-quote fiu-quote--employer">
        <blockquote class="fiu-quote__blockquote">
            "Apprentices have had an amazing impact across our business and bring a fresh perspective to everything we do here at Channel 4. They really challenge the status quo, and we empower them to do just that."
        </blockquote>
        <figcaption class="fiu-quote__caption">
            Laura Boswell,
            <span class="fiu-quote__caption-description">Industry Talent Specialist, Channel 4</span>
        </figcaption>
    </figure>
    <figure class="fiu-quote fiu-quote--employer">
        <blockquote class="fiu-quote__blockquote">
            "Our apprenticeships have improved productivity because they’re learning on the job and they can give back more or less immediately."
        </blockquote>
        <figcaption class="fiu-quote__caption">
            Caroline Ash,
            <span class="fiu-quote__caption-description">Production Director, Fashion Enter</span>
        </figcaption>
    </figure>
    <figure class="fiu-quote fiu-quote--employer">
        <blockquote class="fiu-quote__blockquote">
            "We want to invest in our staff, support them to progress and continue developing their skills and career prospects whilst at the council"
        </blockquote>
        <figcaption class="fiu-quote__caption">
            Lancashire City Council
        </figcaption>
    </figure>
    <a href="/employers/real-stories-employers" class="fiu-button fiu-button--employers fiu-button--outlined govuk-!-margin-top-4 govuk-!-margin-bottom-0">See more stories from businesses like yours </a>
</div>