@model SFA.DAS.Campaign.Web.Models.ApprenticeshipTrainingAndBenefitsViewModel

<div class="fiu-panel fiu-panel--left-align">

    @await Html.PartialAsync("_CalculationOutput", Model)

    @{
        if (Model.Roles > 1)
        {
            <p class="govuk-body">
                The number is based on your company having a pay bill of under £3 million and hiring @Model.Roles apprentices for @Model.CalculationResults.StandardTitle (Level @Model.CalculationResults.StandardLevel) over @Model.CalculationResults.StandardDuration months.
            </p>
        }
        else
        {
            <p class="govuk-body">
                The number is based on your company having a pay bill of under £3 million and hiring 1 apprentice for @Model.CalculationResults.StandardTitle (Level @Model.CalculationResults.StandardLevel) over @Model.CalculationResults.StandardDuration months.
            </p>
        }
    }

    @await Html.PartialAsync("_WhatYouPayNonLevy", Model)

    @await Html.PartialAsync("_CalculationResultsNonLevyDidYouKnow")

    <h2 class="govuk-heading-m">
        Additional funding
    </h2>
    <p class="govuk-body">
        You may qualify to receive an extra £1,000 towards the additional cost associated with training if, at the start of their apprenticeship training, the apprentice is:
    </p>
    <p class="govuk-body">
        <ul class="govuk-list govuk-list--bullet">
            <li>aged between 16 and 18 years old (or 15 if their 16th birthday is between the last Friday of June and 31 August)</li>
            <li>aged between 19 and 24 years old with either an Education, Health, and Care (EHC) plan provided by their local authority or has been in the care of their local authority</li>
        </ul>
    </p>
    <p class="govuk-body">
        You could also consider a levy transfer from another employer to fund an apprenticeship. Transferred funds cover the cost, up to the funding band maximum, of the whole duration of the apprenticeship. For more information visit <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://www.gov.uk/guidance/apprenticeship-funding-rules-for-employers/apprenticeships-funded-by-transfer-of-levy-funds">apprenticeship funding rules for employers (opens in new tab)</a>.
    </p>
    <p class="govuk-body">
        You do not need to pay Class 1 National insurance contributions for apprentices under 25 if the apprentice is on an approved apprenticeship standard.
    </p>

    @await Html.PartialAsync("_WhatToDoNext", Model)
</div>
