@model SFA.DAS.Campaign.Web.Models.ApprenticeshipTrainingAndBenefitsViewModel

<div class="fiu-panel fiu-panel--left-align">

    @await Html.PartialAsync("_CalculationOutput", Model)

    @{
        if (Model.Roles > 1)
        {
            <p class="govuk-body">
                The number is based on your company having a pay bill of under £3 million, between 1 to 49 employees, hiring @Model.Roles apprentices for @Model.CalculationResults.StandardTitle (level @Model.CalculationResults.StandardLevel) over @Model.CalculationResults.StandardDuration months.
            </p>
        }
        else
        {
            <p class="govuk-body">
                The number is based on your company having a pay bill of under £3 million, between 1 to 49 employees, hiring 1 apprentice for @Model.CalculationResults.StandardTitle (level @Model.CalculationResults.StandardLevel) over @Model.CalculationResults.StandardDuration months.
            </p>
        }
    }

    @await Html.PartialAsync("_WhatYouPayNonLevy", Model)

    <label class="govuk-label govuk-label--m govuk-!-font-weight-bold">
        Extra funding
    </label>
    <p class="govuk-body">
        You could be eligible to receive a payment towards training if, at the start of the apprenticeship, the apprentice is aged between: 16 to 18 years old, or aged between 19 to 24 years old and has either an Education, Health and Care (EHC) plan provided by their local authority, or has been in the care of their local authority.
    </p>
    <p class="govuk-body">
        If you are eligible and you employ under 50 staff, the government will also fund the apprenticeship training costs, up to the maximum value of the funding band for the apprenticeship.
    </p>
    <p class="govuk-body">
        You could also be eligible for funding from a levy paying employer which would remove the requirement for you to pay the 5%. Transferred funds cover the cost of the whole duration of the apprenticeship.
    </p>
    <p class="govuk-body">
        You do not need to pay Class 1 National insurance contributions for apprentices under 25, if the apprentice is on an approved apprenticeship standard.
    </p>

    @await Html.PartialAsync("_WhatToDoNext", Model)
</div>
