@model SFA.DAS.Campaign.Web.Models.ApprenticeshipTrainingAndBenefitsViewModel

<div class="fiu-panel fiu-panel--left-align">

    @await Html.PartialAsync("_CalculationOutput", Model)

    @{
        if (Model.Roles > 1)
        {
            <p class="govuk-body">
                The number is based on your company having a pay bill of over £3 million, hiring @Model.Roles apprentices for @Model.CalculationResults.StandardTitle (level @Model.CalculationResults.StandardLevel) over @Model.CalculationResults.StandardDuration months.
            </p>
        }
        else
        {
            <p class="govuk-body">
                The number is based on your company having a pay bill of over £3 million, hiring 1 apprentice for @Model.CalculationResults.StandardTitle (level @Model.CalculationResults.StandardLevel) over @Model.CalculationResults.StandardDuration months.
            </p>
        }
    }

    <label class="govuk-label govuk-label--m govuk-!-font-weight-bold">
        What you pay
    </label>
    <p class="govuk-body">
        Just so you know, you will have to consider all other costs involved with hiring an apprentice, like how much you'll pay them. You must pay them at least the National Minimum Wage rate depending on their age and the year of the apprenticeship training they're in. For more information visit <a href="">employing an apprentice</a>.
    </p>

    <label class="govuk-label govuk-label--m govuk-!-font-weight-bold">
        Extra funding
    </label>
    <p class="govuk-body">
        You could be eligible to receive a payment towards training if, at the start of the apprenticeship, the apprentice is aged between: 16 to 18 years old, or aged between 19 to 24 years old and has either an Education, Health and Care (EHC) plan provided by their local authority, or has been in the care of their local authority.
    </p>
    <p class="govuk-body">
        You could also be eligible for funding from a levy paying employer which would remove the requirement for you to pay the 5%. Transferred funds cover the cost of the whole duration of the apprenticeship.
    </p>
    <p class="govuk-body">
        Just a reminder that you have 24 months to use your levy funds once you enter your apprenticeship service account, after this point , your funds will expire.
    </p>

    @await Html.PartialAsync("_WhatToDoNext", Model)
</div>
