@model SFA.DAS.Campaign.Web.Models.ApprenticeshipTrainingAndBenefitsViewModel
@{
    ViewBag.Title = (ViewData.ModelState.IsValid ? "" : "Error: ") + "Understanding apprenticeship benefits and funding";
    ViewBag.HubPage = false;
    Layout = $"Redesign_Layout_EmployersHub";
    ViewBag.PageTitle = "Understanding apprenticeship benefits and funding";
    ViewBag.PageSummary = "Explore what benefits apprentices can bring to your organisation and calculate what funding could be available towards your apprentices training costs.";
    ViewBag.LandingPageSlug = "considering-hiring-an-apprentice";
    ViewBag.LandingPageTitle = "Considering hiring an apprentice?";
    ViewBag.ArticlePageSlug = "understanding-apprenticeship-benefits-and-funding";
    ViewBag.ArticlePageTitle = "Understanding apprenticeship benefits and funding";
    ViewBag.HeadingImage = "/fiu/assets/images/page-headers/employer-computer.jpg";
    ViewBag.ValidationOrder = "PayBillGreaterThanThreeMillion,StandardUid,NumberOfRoles";
    ViewBag.Panel4Title = "Estimate what funding could be available towards your apprentices training costs";
}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third" id="nav-menu">
            <h2 class="govuk-heading-m">On this page</h2>
            <ul role="list" class="govuk-list govuk-list--spaced app-anchor-links app-anchor-links__list app-anchor-links__list--dash govuk-!-margin-bottom-9">
                <li role="listitem" class="app-anchor-links__list-item"><a href="#@Model.Panel1.Slug" class="govuk-link govuk-link--no-visited-state app-anchor-links__link">@Model.Panel1.Title</a></li>
                <li role="listitem" class="app-anchor-links__list-item"><a href="#@Model.Panel2.Slug" class="govuk-link govuk-link--no-visited-state app-anchor-links__link">@Model.Panel2.Title</a></li>
                <li role="listitem" class="app-anchor-links__list-item"><a href="#@Model.Panel3.Slug" class="govuk-link govuk-link--no-visited-state app-anchor-links__link">@Model.Panel3.Title</a></li>
                <li role="listitem" class="app-anchor-links__list-item"><a href="#available-funding" class="govuk-link govuk-link--no-visited-state app-anchor-links__link">@ViewBag.Panel4Title</a></li>
                <li role="listitem" class="app-anchor-links__list-item"><a href="/employers/apprenticeship-alternatives-employers" class="govuk-link govuk-link--no-visited-state app-anchor-links__link">Apprenticeships not right for you?</a></li>
            </ul>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="fiu-hide-print">

                <partial name="ValidationSummary" />

                <div id="@Model.Panel1.Slug" class="app-anchor-links__panel">
                    @await Html.PartialAsync("_Panel", Model.Panel1)
                    <a href="#main" class="fiu-back-link--top">Back to top</a>
                </div>
                
                <div id="@Model.Panel2.Slug" class="app-anchor-links__panel">
                    @await Html.PartialAsync("_Panel", Model.Panel2)
                    <a href="#main" class="fiu-back-link--top">Back to top</a>
                </div>
                <div id="@Model.Panel3.Slug" class="app-anchor-links__panel">
                    @await Html.PartialAsync("_Panel", Model.Panel3)
                    <a href="#main" class="fiu-back-link--top">Back to top</a>
                </div>
            </div>
            <div id="available-funding" class="app-anchor-links__panel">
                @if (Model.Submitted)
                {
                    if (Model.PayBillGreaterThanThreeMillion == true)
                    {
                        <div id="funding">@await Html.PartialAsync("_CalculationResultsLevy", Model)</div>
                    }
                    else if (Model.PayBillGreaterThanThreeMillion == false)
                    {
                        <div id="funding">@await Html.PartialAsync("_CalculationResultsNonLevy", Model)</div>
                    }
                }
                else
                {
                    <div>@await Html.PartialAsync("_CalculationInputPanel")</div>
                }
                <a href="#main" class="fiu-back-link--top"> Back to top</a>
            </div>
            <div id="use-cases" class="app-anchor-links__panel">
                @await Html.PartialAsync("_UseCases")
                <a href="#main" class="fiu-back-link--top"> Back to top</a>
            </div>

        </div>
    </div>
</div>
