@model SFA.DAS.Campaign.Web.Models.ApprenticeshipTrainingAndBenefitsViewModel
@{
    ViewBag.Title = (ViewData.ModelState.IsValid ?  "" : "Error: ") + "Understanding apprenticeship benefits and funding";
    ViewBag.HubPage = false;
    Layout = $"Redesign_Layout_EmployersHub";
    ViewBag.PageTitle = "Understanding apprenticeship benefits and funding";
    ViewBag.PageSummary = "Explore what benefits apprentices can bring to your organisation and calculate what funding could be available towards your apprentices training costs.";
    ViewBag.LandingPageSlug = "are-they-right-for-you-employers";
    ViewBag.LandingPageTitle = "Are they right for you?";
    ViewBag.ArticlePageSlug = "understanding-apprenticeship-benefits-and-funding";
    ViewBag.ArticlePageTitle = "Understanding apprenticeship benefits and funding";
    ViewBag.HeadingImage = "/fiu/assets/images/page-headers/employer-computer.jpg";
    ViewBag.ValidationOrder = "PayBillGreaterThanThreeMillion,OverFiftyEmployees,StandardUid,NumberOfRoles";
}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-top-9 fiu-hide-print" id="nav-menu">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">On this page</h2>
            <ul class="govuk-list govuk-list--spaced">
                <li><a href="#@Model.Panel1.Slug" class="govuk-link govuk-link--no-visited-state">@Model.Panel1.LinkTitle</a></li>
                <li><a href="#@Model.Panel2.Slug" class="govuk-link govuk-link--no-visited-state">@Model.Panel2.LinkTitle</a></li>
                <li><a href="#@Model.Panel3.Slug" class="govuk-link govuk-link--no-visited-state">@Model.Panel3.LinkTitle</a></li>
                <li><a href="#available-funding" class="govuk-link govuk-link--no-visited-state">Find out what funding you could have available</a></li>
            </ul>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
            <div class="fiu-hide-print govuk-!-margin-top-6">

                <partial name="ValidationSummary" />

                <div id="@Model.Panel1.Slug">@await Html.PartialAsync("_Panel", Model.Panel1)</div>
                <a href="#nav-menu" class="govuk-back-link govuk-!-margin-top-0  govuk-!-margin-bottom-5 app-back-to-top">< Back to top</a>
                <div id="@Model.Panel2.Slug">@await Html.PartialAsync("_Panel", Model.Panel2)</div>
                <a href="#nav-menu" class="govuk-back-link govuk-!-margin-top-0  govuk-!-margin-bottom-5 app-back-to-top">< Back to top</a>
                <div id="@Model.Panel3.Slug">@await Html.PartialAsync("_Panel", Model.Panel3)</div>
                <a href="#nav-menu" class="govuk-back-link govuk-!-margin-top-0  govuk-!-margin-bottom-5 app-back-to-top">< Back to top</a>
            </div>
            <div id="available-funding">
            @if (Model.Submitted)
            {
                if (Model.PayBillGreaterThanThreeMillion == true)
                {
                    <div id="funding">@await Html.PartialAsync("_CalculationResultsLevy", Model)</div>
                }
                else if (Model.PayBillGreaterThanThreeMillion == false)
                {
                    if (Model.OverFiftyEmployees == true)
                    {
                        <div id="funding">@await Html.PartialAsync("_CalculationResultsNonLevyOver50Employees", Model)</div>
                    }
                    else
                    {
                        <div id="funding">@await Html.PartialAsync("_CalculationResultsNonLevyUnder50Employees", Model)</div>
                    }
                }
            }
            else
            {
                <div>@await Html.PartialAsync("_CalculationInputPanel")</div>
            }
            </div>
            <a href="#nav-menu" class="govuk-back-link govuk-!-margin-top-0  govuk-!-margin-bottom-5 app-back-to-top">< Back to top</a>
        </div>
    </div>
</div>
