@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model SFA.DAS.Campaign.Application.Content.ContentTypes.InfoPage
@{
    ViewBag.Title = @Model.Title;
    ViewBag.MetaTitle = @Model.PageTitle;
    ViewBag.HeroImageAltText = "Apprentice in the construction industry";
    ViewBag.PageID = "employer-benefits-to-your-business";
    ViewBag.MetaDesc = @Model.MetaDescription;
    ViewBag.PageUrl = @Model.Slug;
    ViewBag.Section = "employer";
    Layout = "_LayoutContentSidebar";
    ViewBag.Section = "employer";
}

<info-page-sections info-page="@Model"></info-page-sections>

<partial name="./components/Cta/_Contact-phoneNumber" />

@{
    IHtmlContent HeroHeadingContent() => Helper.Body(@<info-page-header-links info-page="@Model"></info-page-header-links>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Employer, Content = HeroHeadingContent() })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training" />
    </div>
}