@{
    Layout = "_Layout-campaign-employer";
    ViewBag.Title = "Tailored apprenticeship advice";
    ViewBag.MetaTitle = "Tailored apprenticeship advice for employers";
    ViewBag.MetaDesc = "Not sure whether apprenticeships are right for you? Answer 4 quick questions to get free advice, including apprenticeships that could suit your needs and ";
}
<main id="main-content">
    <div class="hero--no-clip">
        <div class="grid-row">
            <div class="grid-column-one-half">
                <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                        <a href="@Url.Action("Employer", "RealStories")"  class="hero-heading__caption-link hero-heading__caption--employer">Employer</a>
                        <span class="hero-heading__caption-separator">&gt;</span>
                        <span class="hero-heading__caption--current">Tailored apprenticeship advice</span>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Tailored apprenticeship advice</h1>
                </div>
                <p class="lead-paragraph">
                    Whether your organisation is large or small, and whichever skills you want to boost,
                    we'll help you decide whether apprenticeships are right for you.
                </p>
                <p>
                    Simply answer 4 quick questions and we'll show you how apprenticeships could work for your organisation.
                    Your tailored advice will include:
                </p>
                <ul class="list list--arrows">
                    <li>potential apprenticeships to meet your needs</li>
                    <li>case studies and videos that are relevant to you</li>
                    <li>statistics showing how apprenticeships have worked for similar employers</li>
                    <li>information about funding for your type of organisation</li>
                </ul>
                <div class="das-form-group-inline">
                    <a href="@Url.Action("Index", "WhichSkills")" class="button button--employer button--sparks">Start now</a>
                </div>
                <a href="https://www.gov.uk/" id="header-link-govuk" target="_blank" class="hero-heading__hm-government-link">
                    <img alt="HM Government" class="hero-heading__hm-government-logo" src="/campaign/images/hm-government-logo.png" />
                </a>
            </div>
            <div class="grid-column-one-half">
                <div class="flow">
                    <div class="flow__links">
                    <a class="flow__link flow__link--inspire-1" href="@Url.Action("Index", "WhichSkills")">
                        <span class="flow__link-image-wrap">
                            <img src="/campaign/images/icon-page.svg" alt="" class="flow__link-image" />
                        </span>
                        <span class="flow__link-image-wrap flow__link-image-wrap--multiple">
                            <img src="/campaign/images/icon-page.svg" alt="" class="flow__link-image" />
                        </span>
                        <span class="flow__link-image-wrap flow__link-image-wrap--multiple-2">
                            <img src="/campaign/images/icon-page.svg" alt="" class="flow__link-image" />
                        </span>
                        <span class="flow__link-image-wrap flow__link-image-wrap--multiple-3">
                            <img src="/campaign/images/icon-page.svg" alt="" class="flow__link-image" />
                        </span>
                        <span class="flow__link-text">
                            4 quick questions for tailored advice
                        </span>
                    </a>
                    <a class="flow__link flow__link--inspire-2" href="@Url.Action("Index", "WhichSkills")">
                        <span class="flow__link-image-wrap">
                            <img src="/campaign/images/icon-page.svg" alt="" class="flow__link-image" />
                        </span>
                        <span class="flow__link-text">
                            Your tailored apprenticeship advice
                        </span>
                    </a>
                    <a class="flow__link flow__link--inspire-3" href="@Url.Action("Index", "WhichSkills")">
                        <span class="flow__link-image-wrap">
                            <img src="/campaign/images/icon-page.svg" alt="" class="flow__link-image" />
                        </span>
                        <span class="flow__link-text">
                            Where next is up to you...
                        </span>
                    </a>
                    </div>
                    <div class="flow__lines">
                        <span class="flow__line flow__line--inspire-1"></span>
                        <span class="flow__line flow__line--inspire-2"></span>
                    </div>
                </div>       
            </div>
        </div>
    </div>
 </main>