@model SFA.DAS.Campaign.Web.Controllers.EmployerInspire.InspireJourneyChoices
@{
    Layout = "_Layout-campaign-employer";
    ViewBag.Title = "Which skills do you want your apprentice to develop?";
    ViewBag.SubTitle = "This is the type of apprenticeship your apprentice could take, rather than your industry. For example, if you’re looking for a digital apprentice in the health and science industry, select 'digital'.";
    ViewBag.CurrentInspirePage = 1;
    ViewBag.BackLink = Url.Action("Index", "AreApprenticeshipsRightForYou");
}
<main id="main-content">
    <div class="hero--no-clip">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                        <a href="@Url.Action("Index", "GetTailoredApprenticeshipAdvice")"  class="hero-heading__caption-link hero-heading__caption--employer">&lt; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">@ViewBag.Title</h1>
                </div>
                <p>
                    This is the type of apprenticeship your apprentice could take, rather than your industry. For example, if you’re looking for a digital apprentice in the health and science industry, select ‘digital’.
                </p>
                <form method="post">
                    @foreach (var skill in Model.Skills)
                    {
                        <div class="checkboxes__item">
                            <input class="input checkboxes__input" type="checkbox" value="@skill.Key" id="@skill.Id" name="SelectedSkills" @(Model.SelectedSkills.Contains(@skill.Key) ? "checked='checked'" : "") >
                            <label class="label checkboxes__label" for="@skill.Id">
                                <span class="checkboxes__label-title">@skill.Title</span>
                                <span class="checkboxes__label-hint">@skill.Examples</span>
                            </label>
                        </div>
                    }
                    <button type="submit" class="button button--employer">
                        Continue      
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>