@model SFA.DAS.Campaign.Web.Controllers.EmployerInspire.InspireJourneyChoices

@{
    Layout = "_Layout-campaign-employer";
    ViewBag.Title = "Your apprenticeship advice";
    ViewBag.PageID = "page-inspire-your-advice";
    ViewBag.MetaTitle = "Your apprenticeship advice";
}

<div class="hero content-hero padding-top">
    <div class="scroll-down"><span class="icon scroll"></span>SCROLL</div>
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                    <a href="@Url.Action("Index", "WhereIsYourOrganisationBased")">&lt; &nbsp; Back</a>
                </span>
                <h1 class="heading-xl hero-heading__heading">Your apprenticeship advice</h1>
            </div>

            <p class="lead-paragraph">
                Based on your answers, here are some potential apprenticeships, real-life stories and tailored hints
                and tips to get you started. They’ll give you a taste of how apprenticeships could work for your
                organisation.
            </p>

            <div class="main-ctas">
                <div id="scroller-anchor" class="scroller-anchor"></div>
                <div id="scroller" class="scroller" style="position: relative;">
                    <a href="#section-1" id="section-1-cta" class="main-cta-button active" data-offset-top="150">
                        <span class="number">01</span>
                        <div class="text-wrapper">
                            First things first... <span>key facts</span>
                        </div>
                    </a>
                    <a href="#section-2" id="section-2-cta" class="main-cta-button next" data-offset-top="150">
                        <span class="number">02</span>
                        <div class="text-wrapper">
                            Your potential apprenticeships
                        </div>
                    </a>
                    <a href="#section-3" id="section-3-cta" class="main-cta-button" data-offset-top="150">
                        <span class="number">03</span>
                        <div class="text-wrapper">
                            Real stories for you
                        </div>
                    </a>
                    <a href="#section-4" id="section-4-cta" class="main-cta-button" data-offset-top="150">
                        <span class="number">04</span>
                        <div class="text-wrapper">
                            You might be interested to hear...
                        </div>
                    </a>
                    <a href="#section-5" id="section-5-cta" class="main-cta-button" data-offset-top="150">
                        <span class="number">05</span>
                        <div class="text-wrapper">
                            Funding your apprenticeship
                        </div>
                    </a>

                    <a href="#section-6" id="section-6-cta" class="main-cta-button" data-offset-top="150">
                        <span class="number">06</span>
                        <div class="text-wrapper">
                            So, what’s next?
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@(await @Html.PartialAsync("~/Views/EmployerInspire/AdviceSections/_Section1.cshtml"))

@(await Component.InvokeAsync("Section2PotentialApprenticeships"))

@(await @Html.PartialAsync("~/Views/EmployerInspire/AdviceSections/_Section3.cshtml", Model))

<div id="save-inspire-journey">
    <a href="#" class="close inspire-journey">close</a>
    <a href="@Url.Action("Index", "WhichSkills")" class="edit">Edit my answers</a>
</div>