@model SFA.DAS.Campaign.Web.Controllers.EmployerInspire.InspireJourneyChoices

@{
    Layout = "_Layout-campaign-employer";
    ViewBag.Title = "Your apprenticeship advice";
    ViewBag.PageID = "page-inspire-your-advice";
    ViewBag.MetaTitle = "Your apprenticeship advice";
}



 <main id="main-content">
    <div class="hero--no-clip">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="hero-heading">
                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                        <a href="/employer/which-skills" class="hero-heading__caption-link hero-heading__caption--employer">&lt; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Your apprenticeship advice</h1>
                </div>
                <p>Based on your answers, here are some potential apprenticeships, real-life stories and tailored hints and tips to get you started. They'll give you a taste of how apprenticeships could work for your organisation.</p>
            </div>
        </div>
    </div>
    <nav class="tab-nav" data-module="smoothScroll">
        <ul class="tab-nav__list">
            <li class="tab-nav__list-item">
                <a href="#section-1" class="tab-nav__link tab-nav__link--one">
                    <span class="tab-nav__link-number">01</span>
                    <span class="tab-nav__link-text">First things first&hellip; key facts</span>
                </a>
            </li>
            <li class="tab-nav__list-item">
                <a href="#section-2" class="tab-nav__link tab-nav__link--two">
                    <span class="tab-nav__link-number">02</span>
                    <span class="tab-nav__link-text">Your potential apprenticeship</span>
                </a>
            </li>
            <li class="tab-nav__list-item">
                <a href="#section-3" class="tab-nav__link tab-nav__link--three">
                    <span class="tab-nav__link-number">03</span>
                    <span class="tab-nav__link-text">Real stories for you</span>
                </a>
            </li>
            <!--
            <li class="tab-nav__list-item">
                <a href="#section-4" class="tab-nav__link tab-nav__link--four">
                    <span class="tab-nav__link-number">04</span>
                    <span class="tab-nav__link-text">You might be interested to hear&hellip;</span>
                </a>
            </li>
            -->
            <li class="tab-nav__list-item">
                <a href="#section-5" class="tab-nav__link tab-nav__link--five">
                    <span class="tab-nav__link-number">04</span>
                    <span class="tab-nav__link-text">Funding your apprenticeship</span>
                </a>
            </li>
            <li class="tab-nav__list-item">
                <a href="#section-6" class="tab-nav__link tab-nav__link--six">
                    <span class="tab-nav__link-number">05</span>
                    <span class="tab-nav__link-text">So, what's next?</span>
                </a>
            </li>
        </ul>
    </nav>

    @(await @Html.PartialAsync("~/Views/EmployerInspire/AdviceSections/_Section1.cshtml"))
    @(await Component.InvokeAsync("Section2PotentialApprenticeships"))
    @(await @Html.PartialAsync("~/Views/EmployerInspire/AdviceSections/_Section3.cshtml", Model))
    @(await @Html.PartialAsync("~/Views/EmployerInspire/AdviceSections/_Section5.cshtml", Model))
    @(await @Html.PartialAsync("~/Views/EmployerInspire/AdviceSections/_Section6.cshtml", Model))
    
</main>