@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.Extensions
@model Sfa.Das.Sas.Shared.Components.ViewModels.ApprenticeshipDetails.StandardDetailsViewModel;

<p class="govuk-body">@Model.Overview</p>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Title</dt>
        <dd class="govuk-summary-list__value">@Model.Title</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Level</dt>
        <dd class="govuk-summary-list__value">@Model.Level (Equivalent to @Model.EquivalentText)</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Typical length</dt>
        <dd class="govuk-summary-list__value">@Model.Duration months</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Current funding band</dt>
        <dd class="govuk-summary-list__value">
            Up to @Model.FundingCap per apprentice.<br>
            <a href="https://www.gov.uk/guidance/employing-an-apprentice-technical-guide-for-employers#funding-for-your-apprenticeship" target="_blank" rel="external" class="fiu-link fiu-link--employers">More information about funding</a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Entry requirements</dt>
        <dd class="govuk-summary-list__value">@Html.MarkdownToHtml(Model.EntryRequirements)</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">What apprentices will learn</dt>
        <dd class="govuk-summary-list__value">@Html.MarkdownToHtml(Model.WhatApprenticesWillLearn)</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Qualifications</dt>
        <dd class="govuk-summary-list__value">@Html.MarkdownToHtml(Model.Qualifications)</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Professional registration</dt>
        <dd class="govuk-summary-list__value">@Html.MarkdownToHtml(Model.ProfessionalRegistration)</dd>
    </div>
    <div class="govuk-summary-list__row">
        @if (Model.AssessmentOrganisationPresent)
        {
            <dt class="govuk-summary-list__key">End point assessment</dt>
            <dd class="govuk-summary-list__value">
                <details class="govuk-details govuk-!-margin-0">
                    <summary class="govuk-details__summary fiu-link--employers">
                        <span class="govuk-details__summary-text">View a list of end point assessment organisations for this standard</span>
                    </summary>
                    <div class="govuk-details__text">
                        <table class="govuk-table govuk-!-font-size-14">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Organisation</th>
                                    <th class="govuk-table__header" scope="col">Phone number</th>
                                    <th class="govuk-table__header" scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var org in Model.AssessmentOrganisations)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" data-label="organisation">
                                            @if (!string.IsNullOrWhiteSpace(org.Name))
                                            {
                                                <a href="@org.Website" target="_blank" class="fiu-link fiu-link--employers" rel="external">@org.Name</a>
                                            }
                                            else
                                            {
                                                @org.Name
                                            }

                                        </td>
                                        <td class="govuk-table__cell" data-label="phone-number">@org.Phone</td>
                                        <td class="govuk-table__cell" data-label="email"><a href="mailto:@org.Email" target="_blank" class="fiu-link fiu-link--employers">@org.Email</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </details>
            </dd>
        }
        else
        {
            <dt class="govuk-summary-list__key">How apprentices are assessed</dt>
            <dd class="govuk-summary-list__value">
                <p> A government-approved organisation must assess apprentices towards the end of their apprenticeship.</p>
                <p>This end-point assessment ensures apprentices achieve the skills, training and any qualifications necessary to complete their apprenticeship. </p>
                <p>
                    You can download the assessment plan from the Institute for Apprenticeships. There are no end-point assessment organisations for this apprenticeship yet.
                    Please email <a href="mailto:apprentice.assessment@education.gov.uk" class="fiu-link fiu-link--employers">apprentice.assessment@education.gov.uk </a> if you urgently need an end-point
                    assessment organisation.
                </p>
            </dd>
        }
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">More information</dt>
        <dd class="govuk-summary-list__value">The <a href="https://www.instituteforapprenticeships.org" target="_blank" rel="external" class="fiu-link fiu-link--employers">Institute for Apprenticeships and Technical Education</a> has more detailed information about this apprenticeship.</dd>
    </div>
</dl>
