@using SFA.DAS.Campaign.Web.Models.Components.Form
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@using Sfa.Das.Sas.Core.Configuration
@inject IFatConfigurationSettings fatSettings;

<!DOCTYPE html>
<html lang="en-gb">

<head>
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="preconnect" href="https://www.googletagmanager.com">

    <partial name="./Components/_GtmHead" />

    <meta charset="utf-8" />
    <title>@(ViewData["MetaTitle"] != null ? ViewData["MetaTitle"] : ViewData["Title"])</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="description" content="@(ViewData["MetaDesc"])" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/campaign/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/campaign/images/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/campaign/images/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/campaign/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="/campaign/images/apple-touch-icon.png" />

    <!--[if !IE 8]><!-->

    <link href="/campaign/css/screen.css" rel="stylesheet" />

    <link rel="preload" onload="this.rel = 'stylesheet'" href="https://use.typekit.net/xwy5uap.css" as="style" crossorigin />
    <noscript>
        <link rel="stylesheet" href="https://use.typekit.net/xwy5uap.css" />
    </noscript>

    <!--<![endif]-->

    <meta property="og:image" content="/campaign/images/opengraph.png" cdn-prop />

    <link rel="preconnect" href="//youtube.com">

    @Html.Raw(JavaScriptSnippet.FullScript)
    @RenderSection("HeadScripts", required: false)
</head>



<body class="page-template" id="@ViewData["PageID"]" data-fat-api="@(fatSettings.FatApiBaseUrl)">

    <partial name="./Components/_GtmBody" />

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    <partial name="./Components/_DevolvedAuthorityBanner" />

    <div class="wrap">

        @await Component.InvokeAsync("Modal", new { id = "modal-register-thanks", type = ModalType.PartialView, name = "Components/Form/Register-Thanks" })

        <partial name="./Components/_CookieBanner" />

        <partial name="./Components/_Header-employer" />

        @RenderBody()

        <partial name="./Components/_Footer" />

    </div>

    <mini-profiler />

    <script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL" crossorigin="anonymous"></script>
    <script defer src="/campaign/js/plyr.min.js" crossorigin="anonymous"></script>
    <script defer src="/campaign/js/app.min.js" crossorigin="anonymous"></script>
    <script defer src="/js/das-all.min.js" crossorigin="anonymous" id="dasJs"></script>
    <script>
        var dasJs = document.getElementById('dasJs');
        dasJs.onload = function () {
            window.DASFrontend.initAll();
        }
    </script>
    @RenderSection("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script src="/js/autocomplete.js" no-cdn></script>
</body>

</html>