@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@{
    Layout = "_Layout-campaign";
}

<main id="main-content">

    @if (IsSectionDefined("HeroHeading"))
    {
        @RenderSection("HeroHeading", required: false)
    }
    else
    {
        @await Component.InvokeAsync("HeroHeading")
    }

    <div class="main-content">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="page">
                    @RenderBody()


                </div>
            </div>
            <div class="grid-column-one-third">
                @if (IsSectionDefined("Sidebar"))
                {
                    @RenderSection("Sidebar", required: false)
                }
                else
                {
                    @await Component.InvokeAsync("Sidebar", new { imgLocation = "/campaign/images/sidebar/" + ViewBag.PageId + ".jpg" })
                }

            </div>
        </div>
        <div class="grid-row">
            @RenderSection("pageFooter", required: false)
        </div>
    </div>
</main>

@RenderSection("Resources", required: false)

@section Scripts {
    @RenderSection("Scripts", required: false)
}