@{
    Layout = "Redesign_Layout";
    ViewBag.Section = "apprentices";
}
<nav class="fiu-navigation fiu-navigation--citizens" data-fiu-navigation="true">
	<div class="govuk-width-container">
		<a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
            <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
            <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav" data-fiu-nav-menu="true" id="navigation">
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-citizens">Apprentices</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-citizens">
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-1" href="/apprentices/are-they-right-for-you" class="fiu-navigation__link">Are they right for you?</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-2" href="/apprentices/how-do-they-work" class="fiu-navigation__link">How do they work?</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-3" href="/apprentices/get-started" class="fiu-navigation__link">Get started</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-4" href="/apprentices/browse-apprenticeships" class="fiu-navigation__link">Browse apprenticeships</a> </li>
            </ul>
		</nav>
	</div>
</nav>
<partial name="./Redesign/_Alert" />
<main id="main" class="fiu-main-wrapper">
	<div class="fiu-page-header">
        <div class="fiu-width-container">
            @if (ViewBag.HeadingImage != null)
            {
            <div class="fiu-page-header__image-wrap">
                <span class="fiu-page-header__image-mask"></span>
                <img src="/fiu/assets/images/page-headers/@ViewBag.HeadingImage" alt="" class="fiu-page-header__image" />
            </div>
            }
            <div class="govuk-breadcrumbs fiu-page-header__breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/" id="fiu-breadcrumb-link-home">Home</a>
                    </li>
                    @if (ViewBag.LandingPageSlug is null)
                    {
                        <li class="govuk-breadcrumbs__list-item">
                            Apprentices
                        </li>
                    }
                    else
                    {
                        <li class="govuk-breadcrumbs__list-item">
                            <a href="/apprentices/"  class="govuk-breadcrumbs__link">Apprentices</a>
                        </li>
                        @if (ViewBag.ArticlePageSlug is null)
                        {
                            <li class="govuk-breadcrumbs__list-item">
                                @ViewBag.LandingPageTitle
                            </li>    
                        }
                        else
                        {
                            <li class="govuk-breadcrumbs__list-item">
                                <a href="/apprentices/@ViewBag.LandingPageSlug"  class="govuk-breadcrumbs__link">@ViewBag.LandingPageTitle</a>
                            </li>
                            if (ViewBag.IndustryPageTitle is null)
                            {
                                <li class="govuk-breadcrumbs__list-item">
                                    @ViewBag.ArticlePageTitle
                                </li>    
                            }
                            else
                            {
                                <li class="govuk-breadcrumbs__list-item">
                                    <a href="/apprentices/@ViewBag.ArticlePageSlug" class="govuk-breadcrumbs__link">@ViewBag.ArticlePageTitle</a> 
                                </li>
                                <li class="govuk-breadcrumbs__list-item">
                                    @ViewBag.IndustryPageTitle
                                </li>    
                            }
                        }
                    }
                </ol>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                    @if (ViewBag.HubPage == true)
                    {
                        <div class="fiu-feature-text">
                            <strong class="fiu-tag fiu-tag--citizens fiu-page-header__tag">Apprentices</strong>
                            <h1 class="govuk-heading-xl fiu-page-heading__title-hub">@ViewBag.PageTitle</h1>
                        </div>
                        <p class="fiu-page-header__content-l govuk-!-width-two-thirds">@ViewBag.PageSummary</p>
                    } 
                    else 
                    {
                        @if (ViewBag.HideCategoryTag is null) {
                            <strong class="fiu-tag fiu-tag--citizens fiu-page-header__tag fiu-feature-text">Apprentices</strong>
                        }
                        <h1 class="govuk-heading-xl fiu-page-heading__title ">
                            @if (ViewBag.PageCaption != null) {
                                <span class="govuk-caption-xl">@ViewBag.PageCaption</span>
                            }
                            @ViewBag.PageTitle
                        </h1>
                        <p class="fiu-page-header__content govuk-!-width-two-thirds">@ViewBag.PageSummary</p>
                    }
                    <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
                </div>
            </div>
            @RenderSection("HeadContent", required: false)
        </div>
	</div>
    @RenderBody()
    <div class="fiu-phase-banner">
        <div class="fiu-width-container">
            <p class="fiu-phase-banner__content"><strong class="fiu-tag fiu-phase-banner__tag">BETA</strong><span class="fiu-vh">:</span> This is a new service - your <a href="https://www.smartsurvey.co.uk/s/S2NQQ" class="fiu-link" id="fiu-status-link-feedback" target="_blank">feedback</a> will help us to improve it.</p>
        </div>
    </div>
</main>