@{
    Layout = "Redesign_Layout";
    ViewBag.Section = "apprentices";
}
<nav class="fiu-navigation fiu-navigation--citizens" data-fiu-navigation="true">
	<div class="govuk-width-container">
		<a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
            <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
            <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav" data-fiu-nav-menu="true" id="navigation">
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-citizens">Apprentices</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-citizens">
                @{int menuItemCount = 1;}
                @if (Model.Menu?.Apprentices != null)
                {
                    foreach (var menuItem in Model.Menu.Apprentices) {
                        <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-@menuItemCount" href="/@menuItem.Hub.ToString().ToLower()/@menuItem.Slug" class="fiu-navigation__link">@menuItem.Title</a> </li>
                        menuItemCount++;
                    }    
                }
                
            </ul>
		</nav>
	</div>
</nav>
<partial name="./Banners/_Alert" />
<main id="main" class="fiu-main-wrapper">
    @if (ViewBag.HeadingImage != null)
    {
        <div class="fiu-page-header__background">
            <div class="fiu-page-header__background-inner-wrap">
                <span class="fiu-page-header__background-image-mask"></span>
                <img src="@ViewBag.HeadingImage" alt="" class="fiu-page-header__background-image fiu-fade-in" />
            </div>
            <span class="fiu-page-header__background-grad-edge"></span>
        </div>

    }
	<div class="fiu-page-header @(ViewBag.HeadingImage != null ? "fiu-page-header--has-image" : "")">
        <div class="fiu-width-container">
            <div class="govuk-breadcrumbs fiu-page-header__breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/" id="fiu-breadcrumb-link-home">Home</a>
                    </li>
                    @if (ViewBag.LandingPageSlug is null)
                    {
                        <li class="govuk-breadcrumbs__list-item">
                            Apprentices
                        </li>
                    }
                    else
                    {
                        <li class="govuk-breadcrumbs__list-item">
                            <a href="/apprentices/"  class="govuk-breadcrumbs__link">Apprentices</a>
                        </li>
                        @if (ViewBag.ArticlePageSlug is null)
                        {
                            <li class="govuk-breadcrumbs__list-item">
                                @ViewBag.LandingPageTitle
                            </li>
                        }
                        else
                        {
                            <li class="govuk-breadcrumbs__list-item">
                                <a href="/apprentices/@ViewBag.LandingPageSlug"  class="govuk-breadcrumbs__link">@ViewBag.LandingPageTitle</a>
                            </li>
                            if (ViewBag.IndustryPageTitle is null)
                            {
                                <li class="govuk-breadcrumbs__list-item">
                                    @ViewBag.ArticlePageTitle
                                </li>
                            }
                            else
                            {
                                <li class="govuk-breadcrumbs__list-item">
                                    <a href="/apprentices/@ViewBag.ArticlePageSlug" class="govuk-breadcrumbs__link">@ViewBag.ArticlePageTitle</a>
                                </li>
                                <li class="govuk-breadcrumbs__list-item">
                                    @ViewBag.IndustryPageTitle
                                </li>
                            }
                        }
                    }
                </ol>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                    @if (ViewBag.HubPage == true)
                    {
                        <div class="fiu-feature-text">
                            <strong class="fiu-tag fiu-tag--citizens fiu-page-header__tag">Apprentices</strong>
                            <h1 class="govuk-heading-xl fiu-page-heading__title-hub">@ViewBag.PageTitle</h1>
                        </div>
                        @if (ViewBag.PageSummary != null) { <p class="fiu-page-header__content-l govuk-!-width-two-thirds">@ViewBag.PageSummary</p> }
                    }
                    else
                    {
                        @if (ViewBag.HideCategoryTag is null) {
                            <strong class="fiu-tag fiu-tag--citizens fiu-page-header__tag fiu-feature-text">Apprentices</strong>
                        }
                        <h1 class="govuk-heading-xl fiu-page-heading__title ">
                            @if (ViewBag.PageCaption != null) {
                                <span class="govuk-caption-xl">@ViewBag.PageCaption</span>
                            }
                            @ViewBag.PageTitle
                        </h1>
                        @if (ViewBag.PageSummary != null) { <p class="fiu-page-header__content govuk-!-width-two-thirds">@ViewBag.PageSummary</p> }
                    }
                    <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
                </div>
            </div>
            @RenderSection("PageHeaderContent", required: false)
        </div>
        
	</div>
    @RenderBody()
    
    <partial name="./Banners/_BecomeAnApprentice"/>
</main>