@{
    Layout = "Redesign_Layout";
    ViewBag.Section = "employers";
    var headingImageStyle = ViewBag.HeadingImage != null
        ? $"background-image: url('{ViewBag.HeadingImage}')"
        : null;
}

@if (Model.BannerModels != null && Model.BannerModels.Count > 0)
{
    foreach (var banner in Model.BannerModels)
    {
        <partial name="./Banners/_Banner_UserNoHide" model="banner" />
        <partial name="./Banners/_Banner_UserCanHide" model="banner" />
    }
}
<main id="main" class="fiu-main-wrapper">
    <div class="fiu-page-header">
        <div class="fiu-width-container">
            <div class="fiu-page-header__image-wrap" style="@headingImageStyle">
                <partial name="_Navigation" model="@("employers")" />
                <span class="fiu-page-header__image-mask"></span>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half fiu-page-header__wrap">
                        <strong class="fiu-tag fiu-tag--employers fiu-page-header__tag fiu-feature-text">Employers</strong>
                        <h1 class="govuk-heading-xl fiu-page-heading__title">@ViewBag.PageTitle</h1>
                        @if (ViewBag.PageSummary != null)
                        {   
                            <p class="fiu-page-header__content--l">@ViewBag.PageSummary</p>
                        }
                    </div>
                </div>
                @RenderSection("PageHeaderContent", required: false)
            </div>
        </div>
    </div>  
    <span class="fiu-grad-row__bg"></span>
    @RenderBody()
    <partial name="Banners/_StayUpToDate" />
</main>