@{
    Layout = "Redesign_Layout";
    ViewBag.Section = "employers";
}

<div style="border: darkblue 2px solid">
    <h2>Hub Layout</h2>

    <ul>
        <li>
            <a href="/employers/are-apprenticeships-right-for-me">Are apprenticeships right for me?</a>
        </li>
        <li>
            <a href="/employers/how-do-they-work">How do they work?</a>
        </li>
        <li>
            <a href="/employers/setting-it-up">Setting it up</a>
        </li>
        <li>
            <a href="/employers/guides">Guides</a>
        </li>
        <li>
            <a href="/employer/find-apprenticeship-training">Search for an apprenticeship</a>
        </li>
    </ul>

    <div class="breadcrumbs">
            <a href="/">Home</a> <text>&gt;</text>
            @if (ViewBag.LandingPageSlug is null)
            {
                <span>Employers</span>
            }
            else
            {
                <a href="/employers/">Employers</a><text> &gt; </text>
                @if (ViewBag.ArticlePageSlug is null)
                {
                    <span>@ViewBag.LandingPageTitle</span>    
                }
                else
                {
                    <a href="/employers/@ViewBag.LandingPageSlug">@ViewBag.LandingPageTitle</a><text> &gt; </text>
                    <span>@ViewBag.ArticlePageTitle</span>
                }
            }
        </div>
        
        <h1>@ViewBag.PageTitle</h1>
        <p>@ViewBag.PageSummary</p>
    
    @RenderBody()
</div>