@{
    Layout = "Redesign_Layout";
    ViewBag.Section = "employers";
}

<nav class="fiu-navigation fiu-navigation--employers" data-fiu-navigation="true">
	<div class="govuk-width-container">
		<a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
            <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
            <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav" data-fiu-nav-menu="true" id="navigation">
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-employers">Employers</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-employers">
                <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-1" asp-controller="LandingPage" asp-action="EmployersAreTheyRightForYou" class="fiu-navigation__link">Are they right for you?</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-1" asp-controller="LandingPage" asp-action="EmployersHowDoTheyWork" class="fiu-navigation__link">How do they work?</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-1" asp-controller="LandingPage" asp-action="SettingItUp"  class="fiu-navigation__link">Setting it up</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-1" href="/employers/guides" class="fiu-navigation__link">Guides</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-1" asp-controller="Employer" asp-action="FindApprenticeshipTraining"  class="fiu-navigation__link">Find apprenticeship training</a> </li>
            </ul>
		</nav>
	</div>
</nav>
<main id="main" class="fiu-main-wrapper">
    @if (ViewBag.HidePageHeader is null)
    {
	<div class="fiu-page-header">
        <div class="fiu-width-container">
            @if (ViewBag.HeadingImage != null)
            {
            <div class="fiu-page-header__image-wrap">
                <span class="fiu-page-header__image-mask"></span>
                <img src="/fiu/assets/images/page-headers/@ViewBag.HeadingImage" alt="" class="fiu-page-header__image" />
            </div>
            }
            <div class="govuk-breadcrumbs fiu-page-header__breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/" id="fiu-breadcrumb-link-home">Home</a>
                    </li>
                    @if (ViewBag.LandingPageSlug is null)
                    {
                        <li class="govuk-breadcrumbs__list-item">
                            Employers
                        </li>
                    }
                    else
                    {
                        <li class="govuk-breadcrumbs__list-item">
                            <a href="/employers/"  class="govuk-breadcrumbs__link">Employers</a>
                        </li>
                        @if (ViewBag.ArticlePageSlug is null)
                        {
                            <li class="govuk-breadcrumbs__list-item">
                                @ViewBag.LandingPageTitle
                            </li>
                        }
                        else
                        {
                            <li class="govuk-breadcrumbs__list-item">
                                <a href="/employers/@ViewBag.LandingPageSlug"  class="govuk-breadcrumbs__link">@ViewBag.LandingPageTitle</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                @ViewBag.ArticlePageTitle
                            </li>
                        }
                    }
                </ol>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                    @if (ViewBag.HubPage == true)
                    {
                        <div class="fiu-feature-text">
                            <strong class="fiu-tag fiu-tag--employers fiu-page-header__tag">Employers</strong>
                            <h1 class="govuk-heading-xl fiu-page-heading__title-hub">@ViewBag.PageTitle</h1>
                        </div>
                        <p class="fiu-page-header__content-l">@ViewBag.PageSummary</p>
                    }
                    else
                    {
                        <strong class="fiu-tag fiu-tag--employers fiu-page-header__tag fiu-feature-text">Employers</strong>
                        <h1 class="govuk-heading-xl fiu-page-heading__title ">@ViewBag.PageTitle</h1>
                        <p class="fiu-page-header__content">@ViewBag.PageSummary</p>
                    }
                    <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
                </div>
            </div>
            @if (ViewBag.SubHeading != null)
            {
                <h2 class="govuk-heading-l fiu-page-header__sub-heading">
                    @ViewBag.SubHeading
                </h2>
            }
        </div>
	</div>
    }
    @RenderBody()
    <div class="fiu-phase-banner">
        <div class="fiu-width-container">
            <p class="fiu-phase-banner__content"><strong class="fiu-tag fiu-phase-banner__tag">BETA</strong><span class="fiu-vh">:</span> This is a new service - your <a href="https://www.smartsurvey.co.uk/s/S2NQQ" class="fiu-link" id="fiu-status-link-feedback">feedback</a> will help us to improve it.</p>
        </div>
    </div>
</main>