@model List<SFA.DAS.Campaign.Web.Controllers.EmployerInspire.ViewComponents.ApprenticeshipViewModel>
<section class="section-advice section-advice--white" id="section-2">
    <div class="section-advice__content">
        <span class="section-advice__caption">Section 02</span>
        <h1 class="section-advice__heading">Your potential apprenticeships</h1>

        @if (Model.Any())
        {
            <div class="section-advice__intro">
                <p>These apprenticeship standards could boost the skills you need in your organisation.</p>
            </div>
            
            <p>
                <a href="@Url.Action("FindApprenticeshipTraining", "Employer")" class="aos-init aos-animate" data-aos="fade-right">View more apprenticeship standards.</a>
            </p>
        }
        else
        {
            <p class="lead-paragraph no-top-margin aos-init aos-animate" data-aos="fade-right">
                Select the skills your organisation needs and we'll show you some suitable apprenticeships. <a href="@Url.Action("Index", "WhichSkills")" class="edit">Go back and select some skills.</a>
            </p>
        }


    @if (Model.Any())
    {
        <ol class="jobs-wrapper">
            @foreach (var apprenticeship in Model)
            {
                <li>
                    <a href="@Url.Action("Apprenticeship", "Fat", new {Id = apprenticeship.Id})" class="job aos-init aos-animate" target="_blank" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
                        <h2 class="heading-s">@apprenticeship.Name</h2>
                        <h3 class="heading-xs">
                            <span class="number-wrapper">
                                <span class="number">@apprenticeship.NumberOfProviders</span>
                            </span> training providers
                        </h3>
                    </a>
                </li>
            }
        </ol>
    }
</section>