@model List<SFA.DAS.Campaign.Web.Controllers.EmployerInspire.ViewComponents.ApprenticeshipViewModel>
<section class="section-advice section-advice--white" id="section-2">
    <div class="section-advice__content">
        <span class="section-advice__caption">Section 02</span>
        <h1 class="section-advice__heading">Your potential apprenticeships</h1>

        @if (Model.Any())
        {
            <div class="section-advice__intro">
                <p>These apprenticeship standards could boost the skills you need in your organisation. <a href="@Url.Action("FindApprenticeshipTraining", "Employer")" class="link--no-visited-state">View more apprenticeship standards.</a></p>
            </div>
        }
        else
        {
            <p>
                Select the skills your organisation needs and we'll show you some suitable apprenticeships. <a href="@Url.Action("Index", "WhichSkills")" class="link--no-visited-state">Go back and select some skills.</a>
            </p>
        }

        @if (Model.Any())
        {
            <ol class="list--standards">
                @foreach (var apprenticeship in Model)
                {
                    <li class="list--standards__list-item">
                        <a href="@Url.Action("Apprenticeship", "Fat", new {Id = apprenticeship.Id})"  class="list--standards__link" target="_blank">
                            <h2 class="list--standards__heading heading-s">@apprenticeship.Name</h2>
                            <p class="list--standards__sub-heading heading-xs"><span class="list--standards__number">@apprenticeship.NumberOfProviders</span> training providers</p>
                        </a>
                    </li>
                }
            </ol>
        }
    </div>
</section>