@using SFA.DAS.Campaign.Web.Helpers;
@model SFA.DAS.Campaign.Domain.Vacancies.VacancySearchResultItem

<li class="search-result" data-id="@Model.VacancyReference" data-lat="@Model.Location.Latitude" data-lon="@Model.Location.Longitude">
    <h2 class="heading-m">
        <a href="@Model.VacancyUrl" target="_blank" class="link-faa-more-details-title">@Model.Title<span class="visually-hidden"> (Opens in a new window)</span></a>
    </h2>
    <ul class="list search-results__list-secondary">
        <li>@Model.TrainingTitle</li>
        <li>
            (Added @Model.PostedDate.ToFriendlyDaysAgo())
        </li>
    </ul>
    <p>
        @Model.ShortDescription
    </p>
    <div class="grid-row">
        <div class="grid-column-one-half">

            <dl class="list u-!-margin-top-0 u-!-margin-bottom-0">
                <dt class="das-search-result__details-title">Employer</dt>
                <dd class="das-search-result__details-definition">@Model.EmployerName</dd>

                <dt class="das-search-result__details-title">Distance:</dt>
                <dd class="das-search-result__details-definition"><span class="distance-value">@Model.DistanceInMiles.ToString("N")</span> miles </dd>

                <dt class="das-search-result__details-title">Closing date:</dt>
                <dd class="das-search-result__details-definition"><span class="closing-date-value" data-date="@Model.ApplicationClosingDate.ToString("d")">@Model.ApplicationClosingDate.ToString("d")</span> </dd>

                <dt class="das-search-result__details-title">Possible start date:</dt>
                <dd class="das-search-result__details-definition"><span class="start-date-value">@Model.ExpectedStartDate.ToString("d")</span></dd>
            </dl>
        </div>
        <div id="map-@Model.VacancyReference" class="grid-column-one-half">
            @{ await Html.RenderPartialAsync("_searchResultsMap", Model.StaticMapUrl); }
        </div>

    </div>

</li>