@using SFA.DAS.Campaign.Web.Helpers;
@model SFA.DAS.Campaign.Models.Vacancy.VacancySearchResultItem

<li class="search-result" data-id="@Model.VacancyReference" data-lat="@Model.Location.Latitude" data-lon="@Model.Location.Longitude">
    <h2 class="heading-m">
        <a href="@Model.VacancyUrl" target="_blank" class="link-faa-more-details-title">@Model.TrainingTitle</a>
    </h2>
    <ul class="list search-results__list-secondary">
        <li>@Model.Title</li>
        <li>(Added @Model.PostedDate.ToFriendlyDaysAgo())
        </li>
    </ul>
    <p>
        @Model.ShortDescription
    </p>
    <div class="grid-row">
        <div class="grid-column-one-half">

            <dl class="list u-!-margin-top-0 u-!-margin-bottom-0">
                <dt class="das-search-result__details-title">Employer</dt>
                <dd class="das-search-result__details-definition">@Model.EmployerName</dd>

                <dt class="das-search-result__details-title">Distance:</dt>
                <dd class="das-search-result__details-definition"><span class="distance-value">@Model.DistanceInMiles.ToString("N")</span> miles </dd>

                <dt class="das-search-result__details-title">Closing date:</dt>
                <dd class="das-search-result__details-definition"><span class="closing-date-value" data-date="@Model.ApplicationClosingDate.ToString("d")">@Model.ApplicationClosingDate.ToString("d")</span> </dd>

                <dt class="das-search-result__details-title">Possible start date:</dt>
                <dd class="das-search-result__details-definition"><span class="start-date-value">@Model.ExpectedStartDate.ToString("d")</span></dd>
            </dl>

            <p class="u-!-margin-bottom-">
                <a class="link search-results__external-link link-faa-more-details" href="@Model.VacancyUrl" target="_blank">
                    <img class="search-results__inline-icon" src="/legacy/images/gov.uk_logotype_crown.svg" alt="GOV crown logo" />
                    View more details on gov.uk site
                </a>
            </p>

        </div>
        <div id="map-@Model.VacancyReference" class="grid-column-one-half">
            @{ await Html.RenderPartialAsync("_searchResultsMap", Model.StaticMapUrl); }
        </div>

    </div>

</li>