@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@using SFA.DAS.Campaign.Web.Controllers.EmployerInform
@model LevyQuestionDrivenViewModel
@{
    ViewBag.Title = Model.InfoPage.Title;
    ViewBag.MetaTitle = Model.InfoPage.PageTitle;
    ViewBag.HeroImageUrl = @Model.InfoPage.HeroImage.File.Url;
    ViewBag.HeroImageAltText = Model.InfoPage.HeroImage.Description;
    ViewBag.PageID = Model.InfoPage.Slug;
    ViewBag.MetaDesc = Model.InfoPage.MetaDescription;
    ViewBag.PageUrl = Model.InfoPage.Slug;
    ViewBag.Section = Model.InfoPage.Hub;
    Layout = "_Layout-campaign-employer-inform";
}


@if (!Model.LevyOptionViewModel.OptionChosenByUser)
{
    <info-page-section info-page="@Model.InfoPage" section-slug="answer-this-question" section-container-class="content-section"></info-page-section>
    
@*     <p>Answer this question before viewing the funding guidance so we can show you the most relevant information.</p> *@
    @await Html.PartialAsync("_levyNonLevyQuestion", Model.LevyOptionViewModel)
}

@if (Model.LevyOptionViewModel.LevyStatus == LevyStatus.DontKnow)
{
    <info-page-section info-page="@Model.InfoPage" section-slug="levy-dont-know" section-container-class="content-section"></info-page-section>
}

@if (Model.LevyOptionViewModel.LevyStatus == LevyStatus.Levy)
{
    <info-page-section info-page="@Model.InfoPage" section-slug="the-key-facts-levy" section-container-class="content-section"></info-page-section>
    <info-page-section info-page="@Model.InfoPage" section-slug="apprenticeship-funding-from-the-government-levy" section-container-class="content-section"></info-page-section>
}
else
{
    <info-page-section info-page="@Model.InfoPage" section-slug="the-key-facts-non-levy" section-container-class="content-section"></info-page-section>
}
    

<info-page-section info-page="@Model.InfoPage" section-slug="sharing-apprenticeship-costs-with-the-government" section-container-class="content-section"></info-page-section>

<info-page-section info-page="@Model.InfoPage" section-slug="training-young-apprentices" section-container-class="content-section"></info-page-section>

<info-page-section info-page="@Model.InfoPage" section-slug="example-training-and-assessment-costs" section-container-class="content-section"></info-page-section>

<h2 class="heading-s">Example costs 1:</h2>

<table class="table table--employer">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell table__row-title table__header-row-title">Financial services administrator</th>
            <th class="table__cell  table__row-value--header">Level 3 - (<a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" rel="external" id="link-qualification-levels-1">levels explained</a>)</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Number of apprentices</th>
            <td class="table__cell">1</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Funding band maximum</th>
            <td class="table__cell">£12,000</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Agreed price with training provider</th>
            <td class="table__cell">£12,000</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">The government will pay</th>
            <td class="table__cell">£11,400</td>
        </tr>
    </tbody>
    <tfoot class="table__footer">
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Cost to you</th>
            <td class="table__cell">£600</td>
        </tr>
    </tfoot>
</table>

<h2 class="heading-s">Example costs 2:</h2>

<table class="table table--employer">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell table__row-title table__row-title--header">Rail Infrastructure Operator</th>
            <th class="table__cell table__row-value--header">Level 2 - (<a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" rel="external" id="link-qualification-levels-2">levels explained</a>)</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Number of apprentices</th>
            <td class="table__cell">1</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Funding band maximum</th>
            <td class="table__cell">£12,000</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Agreed price with training provider</th>
            <td class="table__cell">£10,000</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">The government will pay</th>
            <td class="table__cell">£9,500</td>
        </tr>
    </tbody>
    <tfoot class="table__footer">
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Cost to you</th>
            <td class="table__cell">£500</td>
        </tr>
    </tfoot>
</table>

<info-page-section info-page="@Model.InfoPage" section-slug="apprenticeship-costs-paid-by-you" section-container-class="content-section"></info-page-section>

@if (Model.LevyOptionViewModel.LevyStatus == LevyStatus.Levy)
{
    <info-page-section info-page="@Model.InfoPage" section-slug="transferring-funds-to-another-employer-levy" section-container-class="content-section"></info-page-section>
}

<info-page-section info-page="@Model.InfoPage" section-slug="paying-for-apprenticeships-using-a-transfer-of-apprenticeship-funds" section-container-class="content-section"></info-page-section>

<info-page-section info-page="@Model.InfoPage" section-slug="training-young-apprentices" section-container-class="content-section"></info-page-section>

<info-page-section info-page="@Model.InfoPage" section-slug="apprenticeships-in-scotland-northern-ireland-and-wales" section-container-class="content-section"></info-page-section>

<ul class="pagination pagination--employer">
    <li class="pagination__list-item pagination__list-item--previous">
        <a class="pagination__link pagination__link--previous" asp-action="Index" asp-controller="HiringAnApprentice">Hiring an apprentice</a>
    </li>
    <li class="pagination__list-item pagination__list-item--next">
        <a class="pagination__link pagination__link--next" asp-action="Index" asp-controller="TrainingYourApprentice">Training your apprentice</a>
    </li>
</ul>

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel() { Type = HeroHeadingType.Employer, SubSectionTitle = "How do they work?", SubSectionUrl = Url.Action("Index", "HowDoTheyWork") })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training-with-search" />
    </div>
}