@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model SFA.DAS.Campaign.Application.Content.ContentTypes.InfoPage
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaTitle = Model.PageTitle;
    ViewBag.HeroImageUrl = @Model.HeroImage.File.Url;
    ViewBag.HeroImageAltText = Model.HeroImage.Description;
    ViewBag.PageID = Model.Slug;
    ViewBag.MetaDesc = Model.MetaDescription;
    ViewBag.PageUrl = Model.Slug;
    ViewBag.Section = Model.Hub;
    Layout = "_LayoutContentSidebar";
}

<info-page-section info-page="@Model" section-slug="setting-off-on-a-career" section-container-class="content-section"></info-page-section>

<info-page-section info-page="@Model" section-slug="apprenticeships-but-not-as-you-know-them" section-container-class="content-section" header-index="2"></info-page-section>

<info-page-section info-page="@Model" section-slug="theyll-earn-a-salary-and-their-training-will-be-paid-for" section-container-class="content-section" header-index="3"></info-page-section>

<info-page-section info-page="@Model" section-slug="experience-in-a-relevant-role" section-container-class="content-section" header-index="4"></info-page-section>

<info-page-section info-page="@Model" section-slug="levels-of-apprenticeships" section-container-class="content-section" header-index="5"></info-page-section>

<table class="table table--parents">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell table__row-title table__header-row-title">Name</th>
            <th class="table__cell  table__row-value--header">Level</th>
            <th class="table__cell  table__row-value--header">Equivalent educational level</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell table__row-title">Intermediate</td>
            <td class="table__cell">2</td>
            <td class="table__cell">GCSE</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell table__row-title">Advanced</td>
            <td class="table__cell">3</td>
            <td class="table__cell">A level</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell table__row-title">Higher</td>
            <td class="table__cell">4, 5, 6 and 7</td>
            <td class="table__cell">Foundation degree and above</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell table__row-title">Degree</td>
            <td class="table__cell">6 and 7</td>
            <td class="table__cell">Bachelor's or master's degree</td>
        </tr>

    </tbody>
</table>

<p>
    Some apprenticeships also give you an additional qualification such as a diploma.
</p>

<info-page-section info-page="@Model" section-slug="next-steps" section-container-class="content-section" header-index="6"></info-page-section>

@{
    IHtmlContent HeroHeadingContent() => Helper.Body(@<info-page-header-links info-page="@Model"></info-page-header-links>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Parent, Content = HeroHeadingContent() })
}

@section Resources {
    <div class="grid-row">
        <div class="grid-column">
            <section class="section section--slant section--slant-after section--parent">
                <figure class="quote-hero quote-hero--parent">
                    <blockquote class="quote-hero__quote">
                        My apprenticeship will give me the best stepping stone to become a highly trained
                        firefighter, with regular assessments and development days
                    </blockquote>
                    <figcaption class="quote-hero__cite">
                        <span class="quote-hero__cite-person">Claire Lester</span>
                        <span class="quote-hero__cite-source">Staffordshire Fire and Rescue</span>
                    </figcaption>
                </figure>
            </section>
        </div>
    </div>


    <div class="grid-row hero-banner hero-banner--parent cssmask-remove">
        <div class="grid-column-full">
            <div class="grid-row hero-banner__content">
                <div class="grid-column-one-half  hero-banner__icon-play-container">
                    <a href="#player-1" id="play-1" data-module="videoPlayer"
                       data-playerclass="video-player--parent" data-videoplayerid="plyr-1"
                       data-videourl="https://www.youtube.com/embed/s0fcP0QgtGE?origin=https://www.apprenticeships.gov.uk&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1">
                       
                       <img src="https://i.ytimg.com/vi/s0fcP0QgtGE/maxresdefault.jpg" class="video-player__thumbnail" alt="NHS Cromer Hospital Norfolk - Apprentice Employer"/>
                    <span class="hero-banner__icon-play"></span>
                       </a>
                    
                </div>
                <div class="grid-column-one-half hero-banner__content-main">
                    <h3 class="hero-banner__header">Valuable hands-on experience</h3>
                    <p class="hero-banner__copy">
                        "I wasn't a hundred percent sure what I wanted to do after 6th form.
                        Then, my mum showed me an ad in the local paper for an apprenticeship.
                        I want to be earning six figures by the time I'm thirty. And that's the beauty of
                        starting young, it's all possible."
                    </p>
                    <div class="hero-banner__cite">
                        Ella <span class="hero-banner__cite-detail">
                            22,
                            Operations
                            Manager, Chipping Campden
                        </span>
                    </div>
                </div>
            </div>
            <span class="hero-banner__background hero-banner__background--apprentice-ella"></span>
        </div>

    </div>
}
