
<div class="hero" data-module="smoothScroll">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption @Model.Class">@Model.Caption</span>
                <h1 class="heading-xl hero-heading__heading">@ViewContext.ViewBag.Title</h1>
            </div>

            @Model.Content

            <a href="https://www.gov.uk/" id="header-link-govuk" target="_blank" class="hero-heading__hm-government-link">
                <img alt="HM Government" class="hero-heading__hm-government-logo" src="/campaign/images/hm-government-logo.png" srcset="/campaign/images/hm-government-logo.png 1x, /campaign/images/hm-government-logo@2x.png 2x" />
            </a>

        </div>

        @if (ViewContext.ViewBag.ImageUrl != null)
        {
            <div class="grid-column-one-half">
                <img src="@ViewContext.ViewBag.ImageUrl" class="img--responsive hidden--mobile" alt="@ViewContext.ViewBag.ImageAltText" />
            </div>
        }

    </div>
</div>