@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.Search.TrainingProviderSearchViewModel
@inject ICssViewModel CssViewModel;

<form action="@Model.SearchRoute">
    <div class="@(CssViewModel.FormCss.FormGroup)">
        <label asp-for="Postcode" class="@(CssViewModel.FormCss.Label) @(CssViewModel.FormCss.LabelLarge)">Please enter the postcode for where the apprentice will work</label>
        <input class="@(CssViewModel.FormCss.Input) @(CssViewModel.FormCss.InputWidth10)" asp-for="Postcode" type="search" placeholder="Enter postcode" maxlength="8" autocomplete="postal-code" >
        <span asp-validation-for="Postcode" class="error-message--light"></span>
    </div>
   
    <div class="@(CssViewModel.FormCss.FormGroup)">
        <input type="hidden" asp-for="ApprenticeshipId" />
        <input type="hidden" asp-for="Keywords" />
        <input type="hidden" asp-for="IsLevyPayer" value="true" />
        <button class="@(CssViewModel.Button)" type="submit" id="employer-provider-search">Search</button>
    </div>
</form>