@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.TrainingProviderSearchFilterViewModel
@inject ICssViewModel CssViewModel

<h3 class="@CssViewModel.HeadingMedium">Filter results</h3>
<form asp-controller="TrainingProvider" asp-action="Search" method="get">
    <input type="hidden" asp-for="@Model.Postcode" />
    <input type="hidden" asp-for="@Model.ApprenticeshipId" />
    <input type="hidden" asp-for="@Model.IsLevyPayer" />
    <input type="hidden" asp-for="@Model.Keywords" />

    <partial name="Components/TrainingProvider/SearchFilter/_FilterNationalProviders" model="Model" />

    <input type="submit" value="Update results" class="@CssViewModel.ButtonSecondary" />
</form>