@using Sfa.Das.Sas.Shared.Components.Extensions
@using Sfa.Das.Sas.Shared.Components.ViewModels.Basket
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.Apprenticeship.ApprenticeshipBasketItemViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ICssViewModel CssViewModel

<h2 class="govuk-heading-m fiu-results-panel__heading">
    <a asp-controller="Fat" asp-action="Apprenticeship" asp-route-Id="@Model.Id" class="fiu-link fiu-link--employers">@Model.Title</a>
</h2>

@if (Model.Active)
{

    @if (Model.EffectiveTo.HasValue && Model.EffectiveTo.Value > DateTime.Today)
    {
        <div class="fiu-results-panel__strip fiu-results-panel__strip--employers">
            This apprenticeship is available to new starters until <b>@Model.EffectiveTo.Value.AddDays(1).ToLongDateString()</b>
        </div>
    }

    <dl class="fiu-table-list">
        <dt class="fiu-table-list__th fiu-table-list__th--favs">Level</dt>
        <dd class="fiu-table-list__td fiu-table-list__td--favs">@Model.Level (Equivalent to @Model.EquivalentText)</dd>
        <dt class="fiu-table-list__th fiu-table-list__th--favs">Typical length</dt>
        <dd class="fiu-table-list__td fiu-table-list__td--favs">@Model.Duration months</dd>
        <dt class="fiu-table-list__th fiu-table-list__th--favs">Apprenticeship type</dt>
        <dd class="fiu-table-list__td fiu-table-list__td--favs">@Model.ApprenticeshipType.ToString()</dd>
    </dl>

    <div class="fiu-favourite-bar fiu-favourite-bar--employers">
        <form asp-controller="Basket" asp-action="RemoveFromBasket" method="post">
            <input type="hidden" id="apprenticeshipId" name="ApprenticeshipId" value="@Model.Id" />
            @await Component.InvokeAsync("AddOrRemoveFromBasket", new { apprenticeshipId = Model.Id, title = Model.Title })
        </form>
    </div>

    @if (Model.TrainingProvider.Count > 0)
    {
        <p class="fiu-body-m-l">
            Training @("provider".Pluralize(Model.TrainingProvider.Count)) saved for this apprenticeship
        </p>

        @foreach (var trainingProviderSearchResultsItem in Model.TrainingProvider)
        {
            <h2 class="govuk-heading-s fiu-results-panel__heading">
                <a class="fiu-link fiu-link--employers" asp-controller="TrainingProvider" asp-action="Details" asp-route-ukprn="@trainingProviderSearchResultsItem.Ukprn" asp-route-apprenticeshipId="@Model.Id" asp-route-LocationId="@trainingProviderSearchResultsItem.LocationId">@trainingProviderSearchResultsItem.Name</a>
            </h2>

            <div class="fiu-favourite-bar fiu-favourite-bar--employers">
                <form asp-controller="Basket" asp-action="RemoveFromBasket" method="post">
                    <input type="hidden" id="apprenticeshipId" name="ApprenticeshipId" value="@Model.Id" />
                    <input type="hidden" id="ukprn" name="Ukprn" value="@trainingProviderSearchResultsItem.Ukprn" />
                    @await Component.InvokeAsync("AddOrRemoveFromBasket", new { apprenticeshipId = Model.Id, ukprn = trainingProviderSearchResultsItem.Ukprn, title = trainingProviderSearchResultsItem.Name, type = "training-provider" })
                </form>
            </div>
        }
    }

    <a asp-controller="Fat" asp-action="Apprenticeship" asp-route-id="@Model.Id" asp-fragment="#FindProvider" class="fiu-button fiu-button--employers-light fiu-button--outlined fiu-panel__button govuk-!-margin-top-4">
        Search for more <span class="fiu-vh">@Model.Title</span> providers
    </a>

}
